---
layout: base
assetpath: "../assets"
seasonpath: "../"
warnpath: ""
---
	{% include header %}
	<article>
		<div class="container">
			<div class="sixteen columns">
				<h3>{{page.surtitle}}</h3>
				<h1 id="maintitle">{{page.title}}</h1>
				<hr>
			</div>
			<div class="two-thirds column">
			{{ content }}
			</div>
			<div class="one-third column">
				<h4>{{page.rhs_title}}</h4>
				{% include programme_one %}
				{% include programme_two %}
				{% include programme_three %}
			</div>
		</div>
	</article>

