		<header id="sitelevel">
			<div class="row">
				<div class="twelve columns">
					<a href="{{ site.github.url }}/index.html">Word of Warning</a>
					<nav>
					    <a href="{{ site.github.url }}/current/2016-springsummer">Performance Programme</a>
					    <a href="{{ site.github.url }}/archive">Archive</a>
					    <a href="{{ site.github.url }}/galleries">Galleries</a>
					    <a href='http://wordofwarning.posthaven.com' target="_blank">Weekly Warning</a>
					    <a href="{{ site.mailer_signup_url }}" target="_blank">Sign-up</a>
					    <a href="{{ site.github.url }}/hab/donations">Support Us</a>
					    <a href="{{ site.github.url }}/hab">hÅb</a>
					</nav>
				</div>
			</div>
		</header>
