<!-- begin _includes/shared-close.html -->
		</article>
		<footer>
			<div class="row">
				<div class="four columns">
					<h4 id="mailer">Weekly Warning</h4>
					<p><a href="{{ site.mailer_signup_url }}" target="_blank">Sign-up</a> for your no-nonsense <a href="http://wordofwarning.posthaven.com" target="_blank">weekly e-mail</a> signpost to the bizarre, the beautiful + the best new performance in Manchester + beyond.</p>
					<h4>Calendar</h4>
					<p>Word of Warning also maintains a <a href="http://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London" target="_blank">Google calendar</a> of new performance dates.</p>
					<h4><a href="{{ page.rootpath }}hab/donations">Support Us</a></h4>
				</div>
				<div class="four columns">
					<h4>Word of Warning</h4>
					<p>Word of Warning is a <a href="{{ page.rootpath }}hab">hÅb</a> production.</p>
					<p>Tamsin Drury, hÅb<br>c/o Z-arts, 335 Stretford Road<br>Manchester, M15 5ZA<br>0161 232 6086<br><a href="mailto:info@habarts.org">info@habarts.org</a><br><a href="http://twitter.com/WarnMcr" target="_blank">@WarnMcr</a><br><a href="http://facebook.com/WarnMcr" target="_blank">facebook/WarnMcr</a></p>
				</div>
				<div class="four columns">
					<h4>Credits</h4>
					<p>With thanks to Z-arts + our board of advisors.</p>
					<p>Spring/Summer 2016 is brought to you by hÅb with Derelict, UCLan, the Whitworth, Contact, Dance Manchester, HOME, The Lowry + The Place.<br><img src="{{page.rootpath}}assets/images/logos.png" alt="Supported using public funding by Arts Council England + funded by Manchester City Council."><br><small>Copyright &copy;2016 Word of Warning. All rights reserved.</small></p>
				</div>
			</div>
		</footer>
	</div>

	<!--
	<script src="{{ page.rootpath }}assets/vendor/jquery/javascripts/jquery.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.reveal.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.orbit-1.4.0.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.customforms.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.placeholder.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.tooltips.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/app.js"></script>
	-->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics_ua }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
