<!-- begin _includes/shared-close.html -->
		</article>
		<footer>
			<div class="row">
				<div class="six columns">
					<h4>Performance Programme</h4>
					A roving <a href="{{ page.rootpath }}current/2018-springsummer">programme</a> of different new performance in Manchester + beyond.
					<h4>Weekly Warning</h4>
					<a href="{{ site.mailer_signup_url }}" target="_blank">Sign-up</a> for your no-nonsense <a href="http://wordofwarning.posthaven.com" target="_blank">weekly e-mail</a> signpost to the bizarre, the beautiful + the best new performance in Manchester + beyond. You can also view dates in a <a href="http://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London" target="_blank">Google calendar</a>.				
				</div>
				<div class="six columns">
					<h4>hÅb</h4>
					Word of Warning is brought to you by <a href="{{ page.rootpath }}hab">hÅb</a>: a producer, developer + strategic advocate of contemporary performance, live art + sited work in the North of England.
					<p></p>
					Tamsin Drury, hÅb<br>c/o Z-arts, 335 Stretford Road<br>Manchester, M15 5ZA<br>0161 232 6086 | <a href="mailto:info@habmcr.org">info@habmcr.org</a>
					<p></p>
					<a href="http://twitter.com/WarnMcr" target="_blank">@WarnMcr</a> | <a href="http://facebook.com/WarnMcr" target="_blank">facebook/WarnMcr</a>
				</div>
				<div class="six columns">					
					<h4><a href="{{ page.rootpath }}hab/supportus">Support Us</a></h4>
					<p></p>
					With thanks to Z-arts + our board of advisors.<br><img src="{{page.rootpath}}assets/images/ACE+LAUKlogos.png" alt="Supported using public funding by Arts Council England; a member of Live Art UK."><br><small>Copyright &copy;2018 hÅb. All rights reserved.</small>
				</div>
			</div>
		</footer>
	</div>

	<!--
	<script src="{{ page.rootpath }}assets/vendor/jquery/javascripts/jquery.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.reveal.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.orbit-1.4.0.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.customforms.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.placeholder.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.tooltips.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/app.js"></script>
	-->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics_ua }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
