<!-- begin _includes/shared-close.html -->
		</article>
		<footer>
			<div class="row">
				<div class="three columns">
					<h4><a href="{{ site.github.url }}">Word of Warning</a></h4>
					<p>A roving <a href="{{ site.github.url }}/current/2019-autumnwinter">programme</a> of performance and an online <a href="http://wordofwarning.posthaven.com" target="_blank">weekly warning</a> of what's on in Manchester + beyond… By <a href="{{ site.github.url }}/hab">hÅb</a>.<br><a href="http://twitter.com/WarnMcr" target="_blank">@WarnMcr</a> | <a href="http://facebook.com/WarnMcr" target="_blank">facebook/WarnMcr</a></p>
				</div>
				<div class="three columns">
					<h4><a href="http://wordofwarning.posthaven.com" target="_blank">Weekly Warning</a></h4>
					<p><a href="{{ site.mailer_signup_url }}" target="_blank">Sign-up</a> for your no-nonsense e-mail signpost to the bizarre, beautiful + best performance in Manchester + beyond. See dates in our <a href="http://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London" target="_blank">Google calendar</a>.</p>
				</div>
				<div class="three columns">
					<h4><a href="{{ site.github.url }}/hab">hÅb</a></h4>
					<p>Tamsin Drury, hÅb c/o Z-arts, 335 Stretford Rd, Manchester, M15 5ZA<br>0161 232 6086 | <a href="mailto:info@habmcr.org">info@habmcr.org</a><br><small>Privacy Policies: <a href="{{ site.github.url }}/hab/privacy">hÅb</a>/<a href="{{ site.github.url }}/privacy">Word of Warning</a></small></p>
				</div>
				<div class="three columns">					
					<h4><a href="{{ site.github.url }}/hab/supportus">Support Us</a></h4>
					<p>Thanks to Z-arts + our board of advisors. <small>Copyright &copy;2019 hÅb. All rights reserved.</p></small><img src="{{site.github.url}}/assets/images/ACE+LAUKlogos.png" alt="Supported using public funding by Arts Council England; a member of Live Art UK.">
				</div>
			</div>
		</footer>
	</div>

	<!--
	<script src="{{ page.rootpath }}assets/vendor/jquery/javascripts/jquery.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.reveal.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.orbit-1.4.0.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.customforms.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.placeholder.min.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/jquery.tooltips.js"></script>
	<script src="{{ page.rootpath }}assets/vendor/zurb/javascripts/app.js"></script>
	-->

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics_ua }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
