		<header id="sitelevel">
			<div class="row">
				<div class="twelve columns">
					<a href="{{ page.rootpath }}index.html">Word of Warning</a> 
					<nav>
					    <a href="{{ page.rootpath }}current/2016-springsummer">Performance Programme</a>
					    <a href="{{ page.rootpath }}archive">Archive</a> 
					    <a href="{{ page.rootpath }}galleries">Galleries</a>
					    <a href='http://wordofwarning.posthaven.com'>Weekly Warning</a>
					    <a href="{{ site.mailer_signup_url }}">Sign-up</a>
					    <a href="{{ page.rootpath }}hab/donations">Support Us</a>
					    <a href="{{ page.rootpath }}hab">hÅb</a>
					</nav>
				</div>
			</div>
		</header>
