/* THEMED PER-EVENT STYLES ---------------------------*/

/* default word of warning styling
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#fff; color:#111;}

	blockquote
		{border-left-color:#444;}
	blockquote, blockquote p
		{color: #444;}

	a,
	a:visited,
	a:hover
		{color:#666;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #fff;}
		
	a.splash:hover .artist
		{background:#000; color:#fff;}

	.splash
		{background:url(../images/header_default.jpg) -150px center}

/* an example (not pretty) event styling
------------------------------------------------------*/

	.example,
	.example .artist, 
	.example .show,
	.example .season
		{background:#f00; color:#fff;}

	.example a,
	.example a:visited,
	.example a:hover
		{color:#fff;}
	.example nav a:hover,
	.example article a:hover,
	.example footer a:hover
		{background: #fff; color: #f00;}
		
	.example .splash
		{background:url(../images/header_example.png) -150px center}

/* Spring / Summer 2012 Collection
------------------------------------------------------*/

	.ss2012 .splash
		{background:url(../images/header_ss2012.jpg) -150px center}

/* hazard
------------------------------------------------------*/

	.hazard,
	.hazard .artist, 
	.hazard .show,
	.hazard .season
		{background:#fd0; color:#000;}

	.hazard a,
	.hazard a:visited,
	.hazard a:hover
		{color:#000;}
	.hazard nav a:hover,
	.hazard article a:hover,
	.hazard footer a:hover
		{background: #000; color: #fff;}
	.hazard .splash
		{background:url(../images/header_2012_hazard.jpg) center center}