/* THEMED PER-EVENT STYLES ---------------------------*/

/* default word of warning styling
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#fff; color:#111;}

	a,
	a:visited
		{color:#666;}
	a:hover
		{background: #000; color: #fff;}

	article header
		{background:url(../images/header_default.jpg) -150px center}

/* an example (not pretty) event styling
------------------------------------------------------*/

	.example,
	.example .artist, 
	.example .show,
	.example .season
		{background:#f00; color:#fff;}

	.example a,
	.example a:visited
		{color:#fff;}
	.example a:hover
		{background: #fff; color: #f00;}
		
	.example article header
		{background:url(../images/header_example.png) -150px center}
		
/* hazard
------------------------------------------------------*/

	.hazard,
	.hazard .artist, 
	.hazard .show,
	.hazard .season
		{background:#fd0; color:#000;}

	.hazard a,
	.hazard a:visited
		{color:#000;}
	.hazard a:hover
		{background: #000; color: #fff;}
	.hazard article header
		{background:url(../images/header_2012_hazard.jpg) center center}