/* THEMED PER-EVENT STYLES ---------------------------*/

/* default word of warning styling
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#fff; color:#111;}

	blockquote
		{border-left-color:#999;}
	blockquote, blockquote p
		{color: #999;}

	a,
	a:visited,
	a:hover
		{color:#666;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #fff;}
		
	a.splash:hover .artist
		{background:#000; color:#fff;}

	.splash
		{background:url(../images/header_warni.jpg) -150px center}

/* hAb black
------------------------------------------------------*/

	.hab,
	.hab .artist, 
	.hab .show,
	.hab .season
		{background:#000; color:#fff;}

	.hab a,
	.hab a:visited,
	.hab a:hover
		{color:#fff;}
	.hab nav a:hover,
	.hab article a:hover,
	.hab footer a:hover
		{background: #fff; color: #000;}

	.hab .splash
		{background:url(../images/header_hab_photo.jpg) center center}

/* Spring/Summer 2012 Collection
------------------------------------------------------*/

	.ss2012 .splash
		{background:url(../images/header_ss2012.jpg) -150px center}

/* Hazard 2012 yellow with white diagonals
------------------------------------------------------*/

	.h2012,
	.h2012 .artist, 
	.h2012 .show,
	.h2012 .season
		{background:#fd0; color:#000;}
		
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.h2012
		{background: #fd0 url(../images/angle_small.png) center top no-repeat}
}
@media only screen and (min-width: 960px) and (max-width: 1399px) {
	body.h2012
		{background: #fd0 url(../images/angle_medium.png) center top no-repeat}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	body.h2012
		{background: #fd0 url(../images/angle_large.png) center top no-repeat}
}

	.h2012 a,
	.h2012 a:visited,
	.h2012 a:hover
		{color:#000;}
	.h2012 nav a:hover,
	.h2012 article a:hover,
	.h2012 footer a:hover
		{background: #000; color: #fff;}
	.h2012 .splash
		{background:url(../images/header_2012_hazard.jpg) center center}

/* Autumn/Winter 2012 Collection
------------------------------------------------------*/

	.aw2012 .splash
		{background:url(../images/header_2012_aw_blue.jpg) -150px center}

/* Emergency 2012 mid-red
------------------------------------------------------*/

	.e2012,
	.e2012 .artist, 
	.e2012 .show,
	.e2012 .season
		{background:#900; color:#fff;}

	.e2012 a,
	.e2012 a:visited,
	.e2012 a:hover
		{color:#fff;}
	.e2012 nav a:hover,
	.e2012 article a:hover,
	.e2012 footer a:hover
		{background: #fff; color: #900;}
		
	.e2012 .splash
		{background:url(../images/header_emergency_photo.jpg) center center}

/* Spring 2013 Collection
------------------------------------------------------*/

	.s2013	.splash
		{background:url(../images/header_spring13.jpg) -150px center}

/* Poolside Emergency 2013 purple
------------------------------------------------------*/

	.p2013,
	.p2013 .artist, 
	.p2013 .show,
	.p2013 .season
		{background:#606; color:#fff;}

	.p2013 a,
	.p2013 a:visited,
	.p2013 a:hover
		{color:#fff;}
	.p2013 nav a:hover,
	.p2013 article a:hover,
	.p2013 footer a:hover
		{background: #fff; color: #606;}
		
	.p2013 .splash
		{background:url(../images/header_pool_photo.jpg) center center}

/* Turn 2013 dark blue-teal
------------------------------------------------------*/

	.t2013,
	.t2013 .artist, 
	.t2013 .show,
	.t2013 .season
		{background:#036; color:#fff;}

	.t2013 a,
	.t2013 a:visited,
	.t2013 a:hover
		{color:#fff;}
	.t2013 nav a:hover,
	.t2013 article a:hover,
	.t2013 footer a:hover
		{background: #fff; color: #036;}

	.t2013 .splash
		{background:url(../images/header_turn_photo.jpg) center center}

/* Spring/Summer 2013 Collection
------------------------------------------------------*/

	.ss2013 .splash
		{background:url(../images/header_springsummer13.jpg) -150px center}

/* Autumn/Winter 2013 Programme
------------------------------------------------------*/

	.aw2013 .splash
		{background:url(../images/header_2013aw.jpg) -150px center}

/* Domestic (2013) very dark green
------------------------------------------------------*/

	.dom,
	.dom .artist, 
	.dom .show,
	.dom .season
		{background:#030; color:#fff;}

	.dom a,
	.dom a:visited,
	.dom a:hover
		{color:#fff;}
	.dom nav a:hover,
	.dom article a:hover,
	.dom footer a:hover
		{background: #fff; color: #030;}
		
	.dom .splash
		{background:url(../images/header_domestic.jpg) center center}

/* Spring 2014 Programme
------------------------------------------------------*/

	.s2014 .splash
		{background:url(../images/header_spring2014wrn.jpg) -150px center}

/* Spring/Summer 2014 Programme
------------------------------------------------------*/

	.ss2014 .splash
		{background:url(../images/header_ss2014wrn.jpg) -150px center}

/* Turn 2014 dark blue-teal
------------------------------------------------------*/

	.t2014,
	.t2014 .artist, 
	.t2014 .show,
	.t2014 .season
		{background:#036; color:#fff;}

	.t2014 a,
	.t2014 a:visited,
	.t2014 a:hover
		{color:#fff;}
	.t2014 nav a:hover,
	.t2014 article a:hover,
	.t2014 footer a:hover
		{background: #fff; color: #036;}

	.t2014 .splash
		{background:url(../images/header_turn2014.jpg) center center}

/* Flare 2014 grey/fawn
------------------------------------------------------*/

	.f2014,
	.f2014 .artist, 
	.f2014 .show,
	.f2014 .season
		{background:#665; color:#fff;}

	.f2014 a,
	.f2014 a:visited,
	.f2014 a:hover
		{color:#fff;}
	.f2014 nav a:hover,
	.f2014 article a:hover,
	.f2014 footer a:hover
		{background: #fff; color: #665;}

	.f2014 .splash
		{background:url(../images/header_flare.jpg) center center}

/* Hazard 2014 yellow with white diagonals
------------------------------------------------------*/

	.h2014,
	.h2014 .artist, 
	.h2014 .show,
	.h2014 .season
		{background:#fd0; color:#000;}
		
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.h2014
		{background: #fd0 url(../images/angle_small.png) center top no-repeat}
}
@media only screen and (min-width: 960px) and (max-width: 1399px) {
	body.h2014
		{background: #fd0 url(../images/angle_medium.png) center top no-repeat}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	body.h2014
		{background: #fd0 url(../images/angle_large.png) center top no-repeat}
}

	.h2014 a,
	.h2014 a:visited,
	.h2014 a:hover
		{color:#000;}
	.h2014 nav a:hover,
	.h2014 article a:hover,
	.h2014 footer a:hover
		{background: #000; color: #fff;}
	.h2014 .splash
		{background:url(../images/header_2014_hazard.jpg) center center}

/* Autumn/Winter 2014 Programme
------------------------------------------------------*/

	.aw2014 .splash
		{background:url(../images/header_2014aw.jpg) -150px center}

/* Emergency 2013/14 bright red
------------------------------------------------------*/

	.e2013,
	.e2013 .artist, 
	.e2013 .show,
	.e2013 .season
		{background:#c00; color:#fff;}

	.e2013 a,
	.e2013 a:visited,
	.e2013 a:hover
		{color:#fff;}
	.e2013 nav a:hover,
	.e2013 article a:hover,
	.e2013 footer a:hover
		{background: #fff; color: #c00;}
		
	.e2013 .splash
		{background:url(../images/header_emergency_photo.jpg) center center}

/* Spring 2015 Programme
------------------------------------------------------*/

	.s2015 .splash
		{background:url(../images/header_2015s.jpg) -150px center}

/* Haphazard 2015 yellow
------------------------------------------------------*/

	.h2015,
	.h2015 .artist, 
	.h2015 .show,
	.h2015 .season
		{background:#fc3; color:#000;}

	.h2015 a,
	.h2015 a:visited,
	.h2015 a:hover
		{color:#000;}
	.h2015 nav a:hover,
	.h2015 article a:hover,
	.h2015 footer a:hover
		{background: #000; color: #fc3;}

	.h2015 .splash
		{background:url(../images/header_haphazard.jpg) center center}

/* Turn 2015 darkish lilac
------------------------------------------------------*/

	.t2015,
	.t2015 .artist, 
	.t2015 .show,
	.t2015 .season
		{background:#339; color:#fff;}

	.t2015 a,
	.t2015 a:visited,
	.t2015 a:hover
		{color:#fff;}
	.t2015 nav a:hover,
	.t2015 article a:hover,
	.t2015 footer a:hover
		{background: #fff; color: #339;}

	.t2015 .splash
		{background:url(../images/header_turn15.jpg) center center}

/* Spring/Summer 2015 Programme
------------------------------------------------------*/

	.ss2015 .splash
		{background:url(../images/header_ss15wrn.jpg) -150px center}

/* Autumn/Winter 2015 Programme
------------------------------------------------------*/

	.aw2015 .splash
		{background:url(../images/header_aw15wrn.jpg) -150px center}

/* Domestic II (2015) blue
------------------------------------------------------*/

	.d2015,
	.d2015 .artist, 
	.d2015 .show,
	.d2015 .season
		{background:#006; color:#fff;}

	.d2015 a,
	.d2015 a:visited,
	.d2015 a:hover
		{color:#fff;}
	.d2015 nav a:hover,
	.d2015 article a:hover,
	.d2015 footer a:hover
		{background: #fff; color: #006;}

	.d2015 .splash
		{background:url(../images/header_2015_domestic.jpg) center center}

/* Emergency 2015 bright red
------------------------------------------------------*/

	.e2015,
	.e2015 .artist, 
	.e2015 .show,
	.e2015 .season
		{background:#d00; color:#fff;}

	.e2015 a,
	.e2015 a:visited,
	.e2015 a:hover
		{color:#fff;}
	.e2015 nav a:hover,
	.e2015 article a:hover,
	.e2015 footer a:hover
		{background: #fff; color: #d00;}
		
	.e2015 .splash
		{background:url(../images/header_emergency15.jpg) center center}

/* Spring 2016 Programme silver
------------------------------------------------------*/

	.s2016 .splash
		{background:url(../images/header_spring2016wrn.jpg) -150px center}

/* Haphazard 2016 yellow
------------------------------------------------------*/

	.hh2016,
	.hh2016 .artist, 
	.hh2016 .show,
	.hh2016 .season
		{background:#fd2; color:#000;}

	.hh2016 a,
	.hh2016 a:visited,
	.hh2016 a:hover
		{color:#000;}
	.hh2016 nav a:hover,
	.hh2016 article a:hover,
	.hh2016 footer a:hover
		{background: #000; color: #fd2;}

	.hh2016 .splash
		{background:url(../images/header_haphazard4.jpg) center center}

/* Spring/Summer 2016 Programme gold
------------------------------------------------------*/

	.ss2016 .splash
		{background:url(../images/header_ss2016wrn.jpg) -150px center}

/* Turn 2016 darkish lilac
------------------------------------------------------*/

	.t2016,
	.t2016 .artist, 
	.t2016 .show,
	.t2016 .season
		{background:#339; color:#fff;}

	.t2016 a,
	.t2016 a:visited,
	.t2016 a:hover
		{color:#fff;}
	.t2016 nav a:hover,
	.t2016 article a:hover,
	.t2016 footer a:hover
		{background: #fff; color: #339;}

	.t2016 .splash
		{background:url(../images/header_turn16.jpg) center center}

/* Works Ahead (2013/14/15/16) dark red-maroon
------------------------------------------------------*/
		
	.woah,
	.woah .artist, 
	.woah .show,
	.woah .season
		{background:#400; color:#fff;}

	.woah a,
	.woah a:visited,
	.woah a:hover
		{color:#fff;}
	.woah nav a:hover,
	.woah article a:hover,
	.woah footer a:hover
		{background: #fff; color: #400;}

	.woah .splash
		{background:url(../images/header_woah_photo.jpg) center center}

/* Hazard 2016 yellow with black? diagonals
------------------------------------------------------*/

	.h2016,
	.h2016 .artist, 
	.h2016 .show,
	.h2016 .season
		{background:#fd0; color:#000;}
		
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.h2016
		{background: #fd0 url(../images/angle_small.png) center top no-repeat}
}
@media only screen and (min-width: 960px) and (max-width: 1399px) {
	body.h2016
		{background: #fd0 url(../images/angle_medium.png) center top no-repeat}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	body.h2016
		{background: #fd0 url(../images/angle_large.png) center top no-repeat}
}

	.h2016 a,
	.h2016 a:visited,
	.h2016 a:hover
		{color:#000;}
	.h2016 nav a:hover,
	.h2016 article a:hover,
	.h2016 footer a:hover
		{background: #000; color: #fff;}
	.h2016 .splash
		{background:url(../images/header_2016_hazard.jpg) center center}

/* Autumn/Winter 2016 Programme colour tbc
------------------------------------------------------*/

	.aw2016 .splash
		{background:url(../images/header_ss2014wrn.jpg) -150px center}

/* Emergency 2016 bright red
------------------------------------------------------*/

	.e2016,
	.e2016 .artist, 
	.e2016 .show,
	.e2016 .season
		{background:#e00; color:#fff;}

	.e2016 a,
	.e2016 a:visited,
	.e2016 a:hover
		{color:#fff;}
	.e2016 nav a:hover,
	.e2016 article a:hover,
	.e2016 footer a:hover
		{background: #fff; color: #e00;}
		
	.e2016 .splash
		{background:url(../images/header_emergency.jpg) center center}

/* divergency orange
------------------------------------------------------*/
		
	.div,
	.div .artist, 
	.div .show,
	.div .season
		{background:#f93; color:#000;}

	.div a,
	.div a:visited,
	.div a:hover
		{color:#000;}
	.div nav a:hover,
	.div article a:hover,
	.div footer a:hover
		{background: #000; color: #f93;}

	.div .splash
		{background:url(../images/header_chanje.jpg) center center}
