/* THEMED PER-EVENT STYLES ---------------------------*/

/* default word of warning styling
------------------------------------------------------*/

	body,
	.artist, 
	.show,
	.season
		{background:#fff; color:#111;}

	blockquote
		{border-left-color:#999;}
	blockquote, blockquote p
		{color: #999;}

	a,
	a:visited,
	a:hover
		{color:#666;}
	article a:hover,
	footer a:hover,
	nav a:hover
		{background: #000; color: #fff;}
		
	a.splash:hover .artist
		{background:#000; color:#fff;}

	.splash
		{background:url(../images/header_default.jpg) -150px center}


/* Spring / Summer 2012 Collection
------------------------------------------------------*/

	.ss2012 .splash
		{background:url(../images/header_ss2012.jpg) -150px center}
		
/* Autumn / Winter 2012 Collection
------------------------------------------------------*/

	.aw2012 .splash
		{background:url(../images/header_2012_aw_blue.jpg) -150px center}

/* Spring 2013 Collection
------------------------------------------------------*/

	.s2013	.splash
		{background:url(../images/header_spring13.jpg) -150px center}

/* Spring / Summer 2013 Collection
------------------------------------------------------*/

	.ss2013 .splash
		{background:url(../images/header_springsummer13.jpg) -150px center}

/* Poolside Emergency
------------------------------------------------------*/

	.p2013,
	.p2013 .artist, 
	.p2013 .show,
	.p2013 .season
		{background:#606; color:#fff;}

	.p2013 a,
	.p2013 a:visited,
	.p2013 a:hover
		{color:#fff;}
	.p2013 nav a:hover,
	.p2013 article a:hover,
	.p2013 footer a:hover
		{background: #fff; color: #606;}
		
	.p2013 .splash
		{background:url(../images/header_pool_photo.jpg) center center}
		
/* Turn 2013
------------------------------------------------------*/

	.t2013,
	.t2013 .artist, 
	.t2013 .show,
	.t2013 .season
		{background:#036; color:#fff;}

	.t2013 a,
	.t2013 a:visited,
	.t2013 a:hover
		{color:#fff;}
	.t2013 nav a:hover,
	.t2013 article a:hover,
	.t2013 footer a:hover
		{background: #fff; color: #036;}

	.t2013 .splash
		{background:url(../images/header_turn_photo.jpg) center center}
		
/* Hazard
------------------------------------------------------*/

	.hazard,
	.hazard .artist, 
	.hazard .show,
	.hazard .season
		{background:#fd0; color:#000;}
		
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.hazard
		{background: #fd0 url(../images/angle_small.png) center top no-repeat}
}
@media only screen and (min-width: 960px) and (max-width: 1399px) {
	body.hazard
		{background: #fd0 url(../images/angle_medium.png) center top no-repeat}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	body.hazard
		{background: #fd0 url(../images/angle_large.png) center top no-repeat}
}

	.hazard a,
	.hazard a:visited,
	.hazard a:hover
		{color:#000;}
	.hazard nav a:hover,
	.hazard article a:hover,
	.hazard footer a:hover
		{background: #000; color: #fff;}
	.hazard .splash
		{background:url(../images/header_2012_hazard.jpg) center center}
		
/* Emergency 2012
------------------------------------------------------*/

	.e2012,
	.e2012 .artist, 
	.e2012 .show,
	.e2012 .season
		{background:#900; color:#fff;}

	.e2012 a,
	.e2012 a:visited,
	.e2012 a:hover
		{color:#fff;}
	.e2012 nav a:hover,
	.e2012 article a:hover,
	.e2012 footer a:hover
		{background: #fff; color: #900;}
		
	.e2012 .splash
		{background:url(../images/header_emergency_photo.jpg) center center}

/* hAb
------------------------------------------------------*/

	.hab,
	.hab .artist, 
	.hab .show,
	.hab .season
		{background:#000; color:#fff;}

	.hab a,
	.hab a:visited,
	.hab a:hover
		{color:#fff;}
	.hab nav a:hover,
	.hab article a:hover,
	.hab footer a:hover
		{background: #fff; color: #000;}

	.hab .splash
		{background:url(../images/header_hab_photo.jpg) center center}
		
/* Works Ahead
------------------------------------------------------*/
		
	.woah,
	.woah .artist, 
	.woah .show,
	.woah .season
		{background:#300; color:#fff;}

	.woah a,
	.woah a:visited,
	.woah a:hover
		{color:#fff;}
	.woah nav a:hover,
	.woah article a:hover,
	.woah footer a:hover
		{background: #fff; color: #300;}

	.woah .splash
		{background:url(../images/header_woah_photo.jpg) center center}
		
/* an example (not pretty) event styling - copy and paste to make new event styles
------------------------------------------------------*/
/*
	.example,
	.example .artist, 
	.example .show,
	.example .season
		{background:#f00; color:#fff;}

	.example a,
	.example a:visited,
	.example a:hover
		{color:#fff;}
	.example nav a:hover,
	.example article a:hover,
	.example footer a:hover
		{background: #fff; color: #f00;}
		
	.example .splash
		{background:url(../images/header_example.png) -150px center}
*/
