---

layout: base

season: "Emergency 2012"
bodyclass: e2012
sectionroot: 'archive/2012-emergency'

events:
    -   artists:
            - {folder: 7030, name: "70/30 Split"}
            - {folder: angelclub, name: "Angel Club (north)"}
            - {folder: aswespeak, name: "aswespeakproject"}
            - {folder: bowie, name: "Diego Bowie"}
            - {folder: burrowlee, name: "Burrow + Lee"}
            - {folder: charnley, name: "Clare Charnley"}
            - {folder: coates, name: "Josh Coates"}
            - {folder: douet, name: "Stephanie Douet"}
            - {folder: evansgaskell, name: "Evans + Gaskell"}
            - {folder: fitzsimmons, name: "Chris Fitzsimmons"}
            - {folder: grace, name: "Georgie Grace"}
            - {folder: graham, name: "Kitty Graham"}
            - {folder: herne, name: "Liam Herne"}
            - {folder: ishiguro, name: "Yoko Ishiguro"}
            - {folder: jackson, name: "Wayne Steven Jackson"}
            - {folder: kasahara, name: "Miyuki Kasahara"}
            - {folder: kraszko, name: "Alexandra Kraszkó"}
            - {folder: larkin, name: "Larkin' About"}
            - {folder: malseed, name: "Alice Malseed"}
            - {folder: massiveowl, name: "Massive Owl + Jenny Duffy"}
            - {folder: olamerino, name: "Leo Olamerino"}
            - {folder: omalley, name: "Julieann O'Malley"}
            - {folder: pkfisk, name: "PK Fiskulturnik"}
            - {folder: platt, name: "Platt, Birchall + Hussain"}
            - {folder: rowland, name: "Kris Rowland"}
            - {folder: sacchelli, name: "Clarissa Sacchelli"}
            - {folder: sedated, name: "Sedated By A Brick"}
            - {folder: shaheen, name: "Qasim Riza Shaheen"}
            - {folder: sht, name: "Sh!t Theatre"}
            - {folder: sidwell, name: "Robin Sidwell"}
            - {folder: simic, name: "Lena Simic"}
            - {folder: smith, name: "Nicola Smith"}
            - {folder: solinas, name: "Moreno Solinas"}
            - {folder: streethead, name: "Streethead"}
            - {folder: sturgeons, name: "Sturgeon's Law"}
            - {folder: taylora, name: "Allan Taylor"}
            - {folder: taylork, name: "Katie Taylor"}
            - {folder: townsend, name: "Jojo Townsend"}
            - {folder: treadaway, name: "Sam Treadaway"}
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
