---

layout: base

season: "Works Ahead 2012"
bodyclass: woah
sectionroot: 'archive/2012-woah'

events:
    -   artists:
            - name: "PERFORMANCES: Thu 31 May, 7.30pm"
            - {folder: evans, name: "Lowri Evans"}
            - {folder: cutter, name: "Gareth Cutter"}
            - {folder: musiol, name: "Krissi Musiol"}
            - name: "INTERACTIONS: Fri 1 Jun, 4-9pm"
            - {folder: angelclub, name: "Angel Club (north)"}
            - {folder: fallenwall, name: "Fallen Wall Arts"}
            - {folder: omalley, name: "Julieann O'Malley"}
            - {folder: smallacts, name: "Small Acts"}
    -   rawhtmlinstead: "<a href='/archive/2012-springsummer'>Back to Performance Collection Spring/Summer 2012</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
