---

layout: base

season: "Works Ahead 2012"
bodyclass: woah

events:
    -   artists:
            - {folder: evans, name: "Lowri Evans"}
            - {folder: cutter, name: "Gareth Cutter"}
            - {folder: musiol, name: "Krissi Musiol"}
            - {folder: fallenwall, name: "Fallen Wall Arts"}
            - {folder: omalley, name: "Julieann O'Malley}
            - {folder: angelclub, name: "Angel Club (north)"}
            - {folder: smallacts, name: "Small Acts"}
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
