---

layout: base

bodyclass: ss2012
season: "Performance Collection Spring/Summer 2012"
sectionroot: 'archive/2012-springsummer'

events:
    -   warn: "001"
        label: "What I Heard About The World"
        date: "Fri 17 Feb, 7.30pm."
        venue: "Zion Arts Centre/Z-arts"
        artists:
            - {folder: thirdangel, name: "Third Angel + Mala Voadora"}
    -   warn: "002"
        label: "Ball & Other Funny Stories About Cancer"
        date: "Wed 7 Mar, 9pm + Thu 8 Mar, 7.30pm."
        venue: "Contact"
        artists:
            - {folder: lobel, name: "Brian Lobel"}
    -   warn: "003"
        label: "The Making of Bull: The True Story"
        date: "Thu 8 Mar, 9pm."
        venue: "Contact"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
    -   warn: "004"
        label: "Sampler Series"
        date: "Fri 16 Mar, 7.30pm."
        venue: "Zion Arts Centre/Z-arts"
        artists:
            - {folder: mustdashios, name: "The Mustdashios"}
            - {folder: levantes, name: "Levantes Dance Theatre"}
    -   warn: "006"
        label: "Sampler Series"
        date: "Fri 20 Apr, 7.30pm."
        venue: "Zion Arts Centre/Z-arts"
        artists:
            - {folder: marshman, name: "Tom Marshman"}
            - {folder: van, name: "GETINTHEBACKOFTHEVAN"}
    -   warn: "007"
        label: "Turn 2012"
        date: "Thu 3 — Sat 5 May, 7.30pm."
        venue: "Contact"
        artists:
            - {folder: turn, name: "Micro-festival of new north west dance."}
    -   warn: "008"
        label: "Sampler Series"
        date: "Fri 18 May, 7.30pm."
        venue: "Z-arts"
        artists:
            - {folder: davies, name: "Olwen Davies"}
            - {folder: levantes2, name: "Levantes Dance Theatre"}
            - {folder: harrison, name: "Ellie Harrison"}
    -   warn: "009"
        label: "Works Ahead 2012: Performances"
        date: "Thu 31 May, 7.30pm."
        venue: "Contact"
        artists:
            - {folder: musiol, name: "Krissi Musiol"}
            - {folder: evans, name: "Lowri Evans"}
            - {folder: cutter, name: "Gareth Cutter"}
    -   warn: "010"
        label: "Works Ahead 2012: Interactions"
        date: "Fri 1 Jun, 4-9pm."
        venue: "Contact"
        artists:
            - {folder: angelclub, name: "Angel Club (north)"}
            - {folder: omalley, name: "Julieann O’Malley"}
            - {folder: fallenwall, name: "Fallen Wall Arts"}
            - {folder: smallacts, name: "Small Acts"}
    -   warn: "011"
        label: "Sampler Series <span style='text-transform:lowercase;'>meets</span> Flare Weekender"
        date: "Fri 8 + Sat 9 Jun."
        venue: "Z-arts"
        artists:
            - {folder: flare, name: "A mixed bill of performance."}
    -   warn: "012"
        label: "Hazard 2012"
        date: "Sat 21 Jul, 12noon-5pm."
        venue: "St Ann's Square"
        rawhtmlinstead: "<a href='/archive/2012-hazard'>Random sprees of eccentricity.</a>"
 
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
