---

layout: base

season: "Performance Collection Autumn/Winter 2012"
bodyclass: aw2012
sectionroot: 'archive/2012-autumnwinter'

events:
    -   label: "Frontman"
        date: "Fri 12 Oct, 7.30pm."
        venue: "Gorilla"
        artists:
            - {folder: goproject, name: "Action Hero vs. GO Project"}
    -   label: "Emergency 2012"
        date: "Sat 13 Oct, 12noon-10pm."
        venue: "<br>BLANKSPACE, Castlefield Gallery, Z-arts</br>"
        rawhtmlinstead: "<a href='/archive/2012-emergency'>Micro-festival marathon.</a>"
    -   label: "27 | POPAGANDA"
        date: "Fri 2 Nov 7.30pm."
        venue: "Z-arts | Double Bill"
        artists:
            - {folder: olliesmith, name: "Ollie Smith"}
            - {folder: dedomenici, name: "Richard DeDomenici"}
    -   label: "We Hope That You're Happy..."
        date: "Fri 30 Nov, 7.30pm."
        venue: "Z-arts"
        artists:            
            - {folder: madeinchina, name: "Made In China"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
