---

layout: base

bodyclass: ss2012
season: "Spring/Summer Collection 2012"

events:
    -   warn: "001"
        label: "What I Heard About The World"
        date: "Fri 17 Feb"
        venue: "Zion Arts Centre"
        artists:
            - {folder: thirdangel, name: "Third Angel + Mala Voadora"}
    -   warn: "002"
        label: "Ball & Other Funny Stories About Cancer"
        date: "Wed 7 Mar / Thu 8 Mar"
        venue: "Contact"
        artists:
            - {folder: lobel, name: "Brian Lobel"}
    -   warn: "003"
        label: "THE MAKING OF BULL: THE TRUE STORY"
        date: "Thu 8 Mar"
        venue: "Zion Arts Centre"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
    -   warn: "004"
        label: "SAMPLER SERIES"
        date: "Fri 16 Mar"
        venue: "Zion Arts Centre"
        artists:
            - {folder: mustdashios, name: "The Mustdashios"}
            - {folder: levantes, name: "Levantes Dance Theatre"}
    -   warn: "006"
        label: "SAMPLER SERIES"
        date: "Fri 20 Apr"
        venue: "Zion Arts Centre"
        artists:
            - {folder: marshman, name: "Tom Marshman"}
            - {folder: van, name: "GETINTHEBACKOFTHEVAN"}
    -   warn: "007"
        label: "Turn"
        date: "Thu 3 — Sat 5 May"
        venue: "Zion Arts Centre"
        artists:
            - {folder: turn, name: "Microfestival of dance"}
    -   warn: "008"
        label: "Sampler Series"
        date: "Fri 18 May"
        venue: "Zion Arts Centre"
        artists:
            - {folder: davies, name: "Olwen Davies"}
            - {folder: levantes2, name: "Levantes Dance Theatre"}
            - {folder: harrison, name: "Ellie Harrison"}
    -   warn: "009"
        label: "Works Ahead: Performances"
        date: "Thu 31 May"
        venue: "Contact"
        artists:
            - {folder: musiol, name: "Krissi Musiol"}
            - {folder: evans, name: "Lowri Evans"}
            - {folder: cutter, name: "Gareth Cutter"}
    -   warn: "010"
        label: "Works Ahead: Interactions"
        date: "Fri 1 Jun"
        venue: "Contact"
        artists:
            - {folder: angelclub, name: "Angel Club (north)"}
            - {folder: omalley, name: "Julieann O’Malley"}
            - {folder: fallenwall, name: "Fallen Wall Arts"}
            - {folder: smallacts, name: "Small Acts"}
    -   warn: "011"
        label: "Sampler Series <span style='text-transform:lowercase;'>meets</span> Flare weekender"
        date: "Fri 8 / Sat 9 Jun"
        venue: "Zion Arts Centre"
        artists:
            - {folder: flare, name: "Mixed bill"}
---

		<div class="row">
			<div class="eight columns">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>