---

layout: base

season: "Emergency 2012"
bodyclass: example

events:
    -   artists:
            - {folder: BLANKSPACEdownstairs, name: "BLANKSPACE Downstairs"}
            - {folder: BLANKSPACEupstairs, name: "BLANKSPACE Upstairs"}
            - {folder: Outside, name: "Outside"}
            - {folder: CastlefieldGallery, name: "Castlefield Gallery"}
            - {folder: Zarts, name: "Z-Arts"}
    -   rawhtmlinstead: "Venue map <a href='https://maps.google.co.uk/maps/ms?msid=207310072245535503927.0004c60b67be9371f1dec&msa=0'>Full
  
---

		<div class="row">
			<div class="eight columns">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>