---

layout: base

season: "Domestic"
bodyclass: dom

events:
    -   artists:
            - name: "TICKETED SHOWS"
            - {folder: vacuumcleaner, name: "the vacuum cleaner"}
            - {folder: vandecruys, name: "Leentje Van de Cruys"}
            - {folder: evans, name: "J. Fergus Evans"}
            - {folder: wohead, name: "Greg Wohead"}
            - name: "BY APPOINTMENT, DONATIONS INVITED"
            - {folder: smallacts, name: "Small Acts"}
            - {folder: bradley, name: "Alex Bradley + Scott Smith"}
            - {folder: bannon, name: "Jo Bannon"}
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-autumnwinter/index.html'>Back to Performance Programme Autumn/Winter 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
