---
layout: base

season: "Emergency 2013"
bodyclass: e2013
sectionroot: 'archive/2013-emergency'

events:
    -   artists:
            - {folder: blank, name: "BLANKSPACE: 12noon-4pm"}
            - name: "Maiada aBOUD | Sarah Boulton | Rebecca Bowley | Kerry Carroll | Mike Chavez-Dawson | Collective Unconscious | Geranium Theatre Co | Paul Hurley | Lotta SCAF | Beth J Ross | lili Spain"
            - {folder: z1, name: "Z-arts: 3pm-7pm"}
            - name: "Frances-Kay | Lucy Hutson | Manoli Moriaty | Paul O'Donnell | PartSuspended | Chloë Smith | The Same, But Different | Zimmermann / Singh"
            - {folder: z2, name: "Z-arts: 7pm-11pm"}
            - name: "Lindsay Bennett | Nathan Birkinshaw | Dirty Shade | Drunken Chorus | Sheep Knuckle | Small Acts | Voris / Buchanan"
    -   rawhtmlinstead: "<a href='http://bit.ly/1bFUlqt'>Venues Map</a>"
    -   rawhtmlinstead: "<a href='/archive/2013-autumnwinter'>Back to Performance Programme Autumn/Winter 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
