---

layout: base

season: "Turn 2013"
bodyclass: t2013

events:
    -   artists:
            - {folder: fri, name: "Friday 19 April"}
            - name: "hop.skip.jump dance collective"
            - name: "Jo Ashbridge"
            - name: "Oblique Strategists"
            - name: "Jessica Butler"
            - name: "Adam John Roberts"
            - name: "Ian and Jane"
            - {folder: sat, name: "Saturday 20 April"}
            - name: "The Mustdashios"
            - name: "Percussive Customer Projects"
            - name: "Lau, Roberts /& While"
            - name: "Tom Bowes Dance"
            - name: "Maelstrom Productions"
            - name: "Emma Lansley"
            - name: "Joshua Hubbard F*#”!D"
            - name: "Mixed Movement"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-springsummer/index.html'>Back to Performance Collection Spring 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
