---

layout: base

season: "Turn 2013"
bodyclass: t2013

events:
    -   artists:
            - {folder: dayone, name: "FRIDAY 19 APRIL"}
            - label: "a"
            - venue: "b"
            - name: "c"
            - {folder: daytwo, name: "SATURDAY 20 APRIL"}
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-springsummer/index.html'>Back to Performance Collection Spring 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
