---

layout: base

season: "Performance Collection Spring 2013"
bodyclass: s2013
sectionroot: 'archive/2013-spring'

events:
    -   label: "The Secret Life of You and Me"
        date: "Thu 31 Jan + Fri 1 Feb, 8pm: sold-out."
        venue: "<br>The Lowry</br>"
        artists:
            - {folder: evans, name: "Lowri Evans"}
    -   label: "Haphazard"
        date: "Sat 9 Feb, 12noon-4pm."
        venue: "Z-arts"
        artists:
            - {folder: haphazard, name: "A free day out for the curious of all ages."}
    -   label: "Be Like Water"
        date: "Thu 14 + Fri 15 Feb, 7.30pm: sold-out."
        venue: "Contact"
        artists:
            - {folder: patel, name: "Hetain Patel"}
    -   label: "Three Sisters | The Smell of Envy"
        date: "Fri 8 Mar, 7.30pm."
        venue: "Z-arts | Double Bill"
        artists:
            - {folder: pp, name: "Plane Performance | Pigeon Theatre"}
    -   label: "The Beginning | Debut"
        date: "Fri 15 Mar, 8pm."
        venue: "The Lowry | Double Bill"
        artists:
            - {folder: pinchbeck, name: "Michael Pinchbeck | The Debutants"}
    -   label: "Panopolis"
        date: "Thu 28 Mar, 7.30-11pm."
        venue: "Kraak"
        artists:
            - {folder: kraak, name: "Volkov Commanders"}
    -   label: "'Poolside Emergency 2013"
        date: "Sat 13 Apr, 12noon-5pm."
        venue: "the Bluecoat, Liverpool"
        rawhtmlinstead: "<a href='/archive/2013-poolside'>Mayhem on Merseyside.</a>"
    -   label: "Turn 2013"
        venue: "Contact"
        date: "Fri 19 + Sat 20 Apr, 7.30pm."
        rawhtmlinstead: "<a href='/archive/2013-turn'>Micro-festival of new north west dance.</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
