---
layout: base

season: "Performance Programme Autumn/Winter 2013"
bodyclass: aw2013

events:
    -   label: "Emergency 2013"
        date: "Sat 5 Oct, 12noon-11pm."
        venue: "BLANKSPACE | Z-arts"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-emergency/index.html'>A free day-out for the curious.</a>"
    -   label: "The Ugly Sisters"
        date: "Fri 11 + Sat 12 Oct, 8pm."
        venue: "Contact"
        artists:
            - {folder: rashdash, name: "RashDash"}
    -   label: "Domestic"
        date: "Fri 8 — Sun 17 Nov."
        venue: "Cooper House"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/index.html'>Performance stripped bare...</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/vacuumcleaner/index.html'>the vacuum cleaner</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/vandecruys/index.html'>Leentje Van de Cruys</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/evans/index.html'>J. Fergus Evans</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/wohead/index.html'>Greg Wohead</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/smallacts/index.html'>Small Acts</a>"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/bannon/index.html'>Jo Bannon</a>"
    -   label: "The Falsettos"
        date: "Fri 29 Nov, 7.30pm."
        venue: "Z-arts"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
