---
layout: base

season: "Performance Programme Autumn/Winter 2013"
bodyclass: aw2013
sectionroot: 'archive/2013-autumnwinter'

events:
    -   label: "Emergency 2013"
        date: "Sat 5 Oct, 12noon-11pm."
        venue: "BLANKSPACE | Z-arts"
        rawhtmlinstead: "<a href='/archive/2013-emergency'>A free day-out for the curious.</a>"
    -   label: "The Ugly Sisters"
        date: "Fri 11 + Sat 12 Oct, 8pm."
        venue: "Contact"
        artists:
            - {folder: rashdash, name: "RashDash"}
    -   label: "Domestic"
        date: "Fri 8 — Sun 17 Nov."
        venue: "Cooper House"
        rawhtmlinstead: "<a href='/archive/2013-domestic'>Performance stripped bare.</a>"
        artists:
            - name: "the vacuum cleaner (sold-out) | Leentje Van de Cruys (sold-out) | J. Fergus Evans | Greg Wohead | Small Acts | Alex Bradley + Scott Smith | Jo Bannon"
    -   label: "The Falsettos"
        date: "Fri 29 Nov, 7.30pm."
        venue: "Z-arts"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
