---
layout: base

season: "Emergency 2013"
bodyclass: e2012

events:
    -   artists:
            - {folder: BLANKSPACE, name: "BLANKSPACE: 12noon-4pm"}
            - name: "A"
            - name: "B"
            - name: "C"
            - {folder: Z-arts, name: "Z-arts: 3pm-11pm"}
            - name: "D"
            - name: "E"
            - name: "F"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-autumnwinter/index.html'>Back to Performance Programme 

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
