---
layout: base

season: "Domestic"
bodyclass: dom

events:
    -   artists:
            - name: "GROUP SHOWS, TICKETED"
            - {folder: split, name: "70/30 Split"}
            - {folder: graham, name: "Kitty Graham"}
            - {folder: lau, name: "Joseph Lau"}
            - {folder: turner, name: "Ellen Turner"}
            - name: "INDIVIDUAL EXPERIENCES"
            - {folder: simic, name: "Lena Simic"}
            - {folder: facade, name: "Façade Theatre"}
            - {folder: jackson, name: "Wayne Steven Jackson"}
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-autumnwinter/index.html'>Back to Performance Programme Autumn/Winter 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
