---
layout: base

season: "Emergency 2013"
bodyclass: e2013

events:
    -   artists:
            - {folder: blank, name: "BLANKSPACE: 12noon-4pm"}
            - name: "Maiada aBOUD | Sarah Boulton | Rebecca Bowley | Kerry Carroll | Mike Chavez-Dawson | Collective Unconscious | Geranium Theatre Co | Paul Hurley | Lotta SCAF | Beth J Ross | lili Spain"
            - {folder: z, name: "Z-arts: 3pm-11pm"}
            - name: "Lindsay Bennett | Nathan Birkinshaw | Will Dickie | Dirty Shade | Drunken Chorus | Frances-Kay | Lucy Hutson | Manoli Moriaty | Paul O'Donnell | PartSuspended | SheepKnuckle  | Small Acts | Chloë Smith |  The Same, But Different | Voris/Buchanan | Zimmermann/Singh"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-autumnwinter/index.html'>Back to Performance Programme Autumn/Winter 2013</a>"
    -   rawhtmlinstead: "<a href='http://bit.ly/1bFUlqt'>Venues Map</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
