---

layout: base

season: "Works Ahead 2013"
bodyclass: woah
sectionroot: 'archive/2013-worksahead'

events:
    -   artists:
            - name: "WORK THAT MOVES YOU: Thu 2 May"
            - {folder: split, name: "70/30 Split"}
            - {folder: graham, name: "Kitty Graham"}
            - {folder: lau, name: "Joseph Lau"}
            - {folder: turner, name: "Ellen Turner"}
            - name: "WORK THAT SPEAKS TO YOU: Fri 3 May"
            - {folder: simic, name: "Lena Simic"}
            - {folder: facade, name: "Façade Theatre"}
            - {folder: jackson, name: "Wayne Steven Jackson"}
    -   rawhtmlinstead: "<a href='/archive/2013-springsummer'>Back to Performance Collection Spring/Summer 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
