---
layout: base

season: "Domestic"
bodyclass: dom
sectionroot: 'archive/2013-domestic'

events:
    -   artists:
            - name: "TICKETED SHOWS, LIMITED CAPACITIES"
            - {folder: vacuumcleaner, name: "the vacuum cleaner (all sold-out)"}
            - {folder: vandecruys, name: "Leentje Van de Cruys (all sold-out)"}
            - {folder: evans, name: "J. Fergus Evans (Sat 16 sold-out)"}
            - {folder: wohead, name: "Greg Wohead"}
            - name: "BY APPOINTMENT, DONATIONS INVITED"
            - {folder: smallacts, name: "Small Acts (Thu 14 + Fri 15 sold-out)"}
            - {folder: bradley, name: "Alex Bradley + Scott Smith"}
            - {folder: bannon, name: "Jo Bannon"}
    -   rawhtmlinstead: "<a href='http://bit.ly/1anL5UN'>Venue Map (Cooper House)</a>"
    -   rawhtmlinstead: "<a href='/archive/2013-autumnwinter'>Back to Performance Programme Autumn/Winter 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
