---

layout: base

season: "Performance Collection Spring/Summer 2013"
bodyclass: ss2013

events:
    -   label: "The Beginning | Debut"
        date: "Fri 15 Mar, 8pm."
        venue: "The Lowry | Double Bill"
        artists:
            - {folder: pinchbeck, name: "Michael Pinchbeck | The Debutants"}
    -   label: "Panopolis"
        date: "Thu 28 Mar, 7.30-11pm."
        venue: "Kraak"
        artists:
            - {folder: kraak, name: "Volkov Commanders"}
    -   label: "'Poolside Emergency 2013"
        date: "Sat 13 Apr, 12noon-5pm."
        venue: "the Bluecoat, Liverpool"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-poolside/index.html'>Mayhem on Merseyside.</a>"
    -   label: "Turn 2013"
        date: "Fri 19 + Sat 20 Apr, 7.30pm."
        venue: "Contact"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-turn/index.html'>Micro-festival of new north west dance.</a>"
    -   label: "You Look Like Ants | Delicious Monster"
        date: "Fri 26 Apr, 7.30pm."
        venue: "Z-arts"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
