---

layout: base

season: "'Poolside Emergency 2013"
bodyclass: p2013

events:
    -   artists:
            - {folder: durationala, name: "DURATIONAL WORK 12NOON-2PM"}
            - name: "Julieann O’Malley"
            - name: "Sarah Spanton / Waymarking "
            - name: "Paper People Theatre"
            - name: "Rosanne Robertson"
            - name: "Frances-Kay"
            - name: "Martin Hamblen"
            - name: "David Bethell"
            - name: "Michelle Man & Lauren McGowan"
            - name: "A Bottle Top Productions"
            - name: "Xristina Penna and the aswespeakproject"
            - name: "Jack Coverdale"
            - {folder: durationalb, name: "DURATIONAL WORK 2-5PM"}
            - name: "artist d"
            - name: "artist e"
            - name: "artist f"
            - {folder: performances, name: "PERFORMANCES"}
            - name: "artist g"
            - name: "artist h"
            - name: "artist i"
            - {folder: ltdcap, name: "LIMITED CAPACITY & ONE-TO-ONE"}
            - name: "artist g"
            - name: "artist h"
            - name: "artist i"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-springsummer/index.html'>Back to Performance Collection Spring 2013</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
