---

layout: base

season: "Turn 2013"
bodyclass: t2013
sectionroot: 'archive/2013-turn'

events:
    -   artists:
            - {folder: fri, name: "FIRST NIGHT: Fri 19 Apr"}
            - name: "Rebekka Platt"
            - name: "hop.skip.jump dance collective"
            - name: "Jo Ashbridge"
            - name: "Oblique Strategists"
            - name: "Jessica Butler"
            - name: "Adam John Roberts"
            - name: "Ian and Jane"
            - name: "Daniela B Larsen & Robert Guy"
            - {folder: sat, name: "SECOND NIGHT: Sat 20 Apr"}
            - name: "Rebekka Platt"
            - name: "The Mustdashios"
            - name: "Percussive Customer Projects"
            - name: "Lau, Roberts & While"
            - name: "Tom Bowes Dance"
            - name: "Maelstrom Productions"
            - name: "Emma Lansley"
            - name: "Joshua Hubbard F*#\"!D"
            - name: "SoundMoves Mixed Movement Jam"
    -   rawhtmlinstead: "<a href='/archive/2013-springsummer'>Back to Performance Collection Spring/Summer 2013</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
