---
layout: base

season: "Performance Programme Spring 2014"
bodyclass: s2014

events:
    -   label: "The Good, the God and the Guillotine"
        date: "Tue 18 Feb, 8pm. £11/6"
        venue: "Contact"
        artists:
            - {folder: prototype, name: "Proto-type Theater"}
    -   label: "A Cure for Ageing | Age Concerns (Double Bill)"
        date: "Fri 28 Feb, 7.30pm. £9/5"
        venue: "STUN at Z-arts"
        artists:
            - {folder: age, name: "Ira Brand | Nicki Hobday + Sara Cocker"}
    -   label: "The Ugly Sisters"
        date: "Fri 11 + Sat 12 Oct, 8pm."
        venue: "Contact"
        artists:
            - {folder: rashdash, name: "RashDash"}
    -   label: "Emergency 2013"
        date: "Sat 5 Oct, 12noon-11pm."
        venue: "BLANKSPACE | Z-arts"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-emergency/index.html'>A free day-out for the curious.</a>"
    -   label: "The Ugly Sisters"
        date: "Fri 11 + Sat 12 Oct, 8pm."
        venue: "Contact"
        artists:
            - {folder: rashdash, name: "RashDash"}
    -   label: "Domestic"
        date: "Fri 8 — Sun 17 Nov."
        venue: "Cooper House"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-domestic/index.html'>Performance stripped bare.</a>"
        artists:
            - name: "the vacuum cleaner (sold-out) | Leentje Van de Cruys (sold-out) | J. Fergus Evans | Greg Wohead | Small Acts | Alex Bradley + Scott Smith | Jo Bannon"
    
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
