---
layout: base

season: "Performance Programme Autumn/Winter 2014"
bodyclass: aw2014

events:
    -   label: "Emergency 2014"
        date: "Sat 4 Oct, 12noon-11pm.<br>Free"
        venue: "| Z-arts (incl STUN Studio)"
        rawhtmlinstead: "<a href='http://emergencymcr.org'>A free day-out for the curious.</a>"
        artists:
            - name: "artists tbc" 
    -   label: "Hoke's Bluff"
        date: "Fri 24 + Sat 25 Oct, 8pm.<br>£11/6"
        venue: "| Contact"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-flare'>"
        artists:
            - name: "A"
    -   label: "Chewing the Fat"
        date: "Fri 7 Nov, 8pm.<br>£12/10"
        venue: "| The Lowry"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-hazard'>"
        artists:
            - name: "B"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
