---

layout: base

season: "Hazard 2014"
bodyclass: h2014
sectionroot: 'archive/2014-hazard'

events:      
    -   artists:
            - name: "Subject to change, our schedule includes:"         
            - {folder: ongoing, name: "ONGOING ACTIVITY 12noon-5pm"}         
            - name: "Hanna Rohn + Signhild Wærsted | Harald Smykla | Hidden Track | ICD | Leo Burtin | Martin Hamblen | Natasha Vicars | No More Page 3 | Oliver Palmer | Rachel Ramchurn | Top Joe | Tracy Lumpkin"    
            - {folder: 12, name: "ALSO HAPPENING 12noon-1pm"}        
            - name: "Bingo Meg + Disco Jazz"        
            - {folder: 1, name: "ALSO HAPPENING 1-2pm"}        
            - name: "Stephen Donnelly | Bingo Meg + Disco Jazz | Antje Hildebrandt"        
            - {folder: 2, name: "ALSO HAPPENING 2-3pm"}        
            - name: "Bingo Meg + Disco Jazz | Nicola Canavan | The Association Of Low Visibility Workers | Antje Hildebrandt"        
            - {folder: 3, name: "ALSO HAPPENING 3-4pm"}        
            - name: "The Association Of Low Visibility Workers | Stephen Sheehan | Stephen Donnelly | Kris Canavan"        
            - {folder: 4, name: "ALSO HAPPENING 4-5pm"}        
            - name: "Kris Canavan | Antje Hildebrandt | Hidden Track (finale)"        
    -   rawhtmlinstead: "<a href='http://bit.ly/1wrGmvW'>Information Point Location (Map)</a>"
    -   rawhtmlinstead: "<a href='http://interactionsperformance.wordpress.com'>Interactions blog</a>"
    -   rawhtmlinstead: "<a href='/archive/2014-springsummer'>Back to Performance Programme Spring/Summer 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
