---
layout: base

season: "Emergency 2014"
bodyclass: e2013

events:
    -   artists:
            - {folder: , name: "ONE-TO-ONES"}
            - name: ""
            - {folder: , name: "ONGOING"}
            - name: ""
            - {folder: , name: "LUNCHTIME: 12noon-3pm"}
            - name: ""
            - {folder: , name: "AFTERNOON: 3-5.30pm"}
            - name: ""
            - {folder: , name: "EVENING: 5.30-10pm"}
            - name: ""
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-autumnwinter'>Back to Performance Programme Autumn/Winter 2014</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
