---

layout: base

season: "Turn 2014"
bodyclass: t2014

events:
    -    artists:
            - {folder: fri, name: "FIRST NIGHT: Fri 4 Apr"}
            - {folder: sat, name: "SECOND NIGHT: Sat 5 Apr"}
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-spring'>Back to Performance Programme Spring 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
