---
layout: base

season: "The Flare Weekender 2014"
bodyclass: f2014

events:
    -   artists:
            - name: "Friday 13 June, 7pm"
            - name: "Wies Fest (NL) | El Conde De Torrefiel (ES) | SheepKnuckle (UK)"
            - name: "Saturday 14 June, 1pm"
            - name: "Drunken Chorus (UK) | Leentje Van de Cruys, limited capacity (BE/UK)"
            - name: "Saturday 14 June, 7pm"
            - name: "Almost Human (NL/UK) | Marius Mensink (NL) | Hannah Sullivan (UK) | Moeremans&Sons (NL) | Walk of Shame (NO)"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-springsummer'>Back to Performance Programme Spring/Summer 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
