---
layout: base

season: "The Flare Weekender 2014"
bodyclass: f2014
sectionroot: 'archive/2014-flare'

events:
    -   artists:
            - {folder: fri, name: "FRIDAY 13 JUNE 7pm"}
            - name: "SheepKnuckle UK | Wies Fest NL | El Conde De Torrefiel ES"
            - {folder: sat1, name: "SATURDAY 14 JUNE 1pm"}
            - name: "Drunken Chorus UK | Leentje Van de Cruys BE/UK (limited capacity) | Anna Fenemore UK (workshop)"
            - {folder: sat7, name: "SATURDAY 14 JUNE 7pm"}
            - name: "Hannah Sullivan UK | Marius Mensink NL | Walk of Shame NO | Almost Human NL/UK | Moeremans&Sons NL | Hester Chillingworth + Tim Etchells UK (guest video)"
    -   rawhtmlinstead: "<a href='/archive/2014-springsummer'>Back to Performance Programme Spring/Summer 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
