---
layout: base

season: "Performance Programme Spring 2014"
bodyclass: s2014
sectionroot: 'archive/2014-spring'

events:
    -   label: "The Good, the God and the Guillotine"
        date: "Tue 18 Feb, 8pm. £11/6"
        venue: "| Contact"
        artists:
            - {folder: prototype, name: "Proto-type Theater"}
    -   label: "A Cure for Ageing | Age Concerns <span style='text-transform:lowercase'>(work-in-progress)</span>"
        date: "Wed 26 Feb, 8pm. £9/5"
        venue: "| STUN Studio at Z-arts | Double Bill"
        artists:
            - {folder: age, name: "Ira Brand | Nicki Hobday + Sara Cocker"}
    -   label: "If You Decide To Stay"
        date: "Wed 12 Mar, 7pm. £9/5"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: rimat, name: "Sylvia Rimat"}
    -   label: "A Journey Round My Skull"
        date: "Wed 12 Mar, 9pm. £9/5"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: kindle, name: "Kindle Theatre"}
    -   label: "Exposure"
        date: "Wed 12 (sold-out) + Thu 13 Mar, 5-9pm. £3"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: bannon, name: "Jo Bannon"}
    -   label: "The Way You Tell Them"
        date: "Thu 13 Mar, 7pm. £9/5"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: mars, name: "Rachel Mars"}
    -   label: "Major Tom"
        date: "Thu 20 Mar, 8pm. £11/6"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: melody, name: "Victoria Melody"}
    -   label: "Near Gone"
        date: "Thu 27 Mar, 8.30pm. £9/5"
        venue: "| Palaver at Contact"
        artists:
            - {folder: 2destlang, name: "Two Destination Language"}
    -   label: "Turn 2014"
        date: "Fri 4 + Sat 5 Apr, 7.30pm. £9/5, two nights £11/6"
        venue: "| Contact"
        artists:
            - name: "Ane Iselin Brogeland | Anna Macdonald | Anoikis | Ashleigh Berry | Christopher Owen | Debbie Freedman | Ellen Turner | Fluxus Collective | Gracefool Collective | Hannah Buckley | Jane Munro + the visitors | Jo Ashbridge | Joshua Hubbard F*#¿!D | Levantes Dance Theatre | Peter Grist + Company | Tom Bowes Dance | Yi-Han Wu 吳逸涵 + Oscar South"
        rawhtmlinstead: "<a href='/archive/2014-turn'>Micro-festival of new dance.</a>"
    
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
