---
layout: base

season: "Emergency 2014"
bodyclass: e2013
sectionroot: 'archive/2014-emergency'

events:
    -   artists:
            - name: "Subject to change, our schedule includes:"
            - {folder: one-to-ones, name: "ONE-TO-ONES: 12noon-5.30pm<br>(Limited capacity: sign-up on the day)"}
            - name: "Alice Bunker-Whitney | Boland-Burrell + Byrne | Hidden Track | J. Fergus Evans | Krissi Musiol"
            - {folder: ongoing, name: "ONGOING/DURATIONAL: 12noon-5.30pm"}
            - name: "Barbara Dean | Hamish MacPherson | Hooligans Present | Martin Hamblen | VIA Collective"
            - {folder: lunchtime, name: "LUNCHTIME: 12noon-3pm"}
            - name: "Ana Mendes | Anton Mirto | Art Of Disappearing | Debbie Sharp | Jamil Keating | Peter Jacobs | Rosanne Robertson"
            - {folder: afternoon, name: "AFTERNOON: 3pm-5.30pm<br>(Advisory: may not be suitable for under 18s)"}
            - name: "Art Of Disappearing | Eik + Orengo | Frances-Kay | Jade Montserrat | Jonathan Rogerson | Peter Jacobs"
            - {folder: evening, name: "EVENING: 5.30pm-10pm"}
            - name: "FM | Lydia Cottrell | Matthew Pearce | Nathan Birkinshaw | Neil Callaghan | Odd Comic | Olivia Preye | Paul O'Donnell"
    -   rawhtmlinstead: "<a href='/archive/2014-autumnwinter'>Back to Performance Programme Autumn/Winter 2014</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
