---

layout: base

season: "Turn 2014"
bodyclass: t2014
sectionroot: 'archive/2014-turn'

events:
    -   artists:
            - {folder: fri, name: "FIRST NIGHT: Friday 4 April"}
            - name: "Ashleigh Berry | Christopher Owen | Yi-Han Wu 吳逸涵 + Oscar South | Anna Macdonald | Ellen Turner | Fluxus Collective | Jo Ashbridge | Levantes Dance Theatre"
            - {folder: sat, name: "SECOND NIGHT: Saturday 5 April"}
            - name: "Ashleigh Berry | Gracefool Collective | Hannah Buckley | Ane Iselin Brogeland | Debbie Freedman | Jane Munro + the visitors | Anoikis | Peter Grist + Company | Tom Bowes Dance | Joshua Hubbard F*#¿!D"
    -   rawhtmlinstead: "<a href='/archive/2014-spring'>Back to Performance Programme Spring 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
