---
layout: base

season: "Performance Programme Autumn/Winter 2014"
bodyclass: aw2014

events:
    -   label: "Emergency 2014"
        date: "Sat 4 Oct, 12noon-11pm. Free"
        venue: "| Z-arts"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-emergency'>A free day-out for the curious.</a>"
        artists:
            - name: "Alice Bunker-Whitney | Ana Mendes | Anonymous | Anton Mirto | Art Of Disappearing | Barbara Dean | Debbie Sharp | Eik + Orengo | Fatima Ali??? | FM | Frances-Kay | Hamish MacPherson | Hidden Track | Irreverent Sideshows | J. Fergus Evans | Jade Montserrat | Jamil Keating??? | Jonathan Rogerson | Joshua Boland-Burrell + Liam Byrne | Krissi Musiol | Lydia Cottrell | Martin Hamblen | Matthew Pearce | Nathan Birkinshaw | Neil Callaghan | Odd Comic | Olivia Preye | Paul O'Donnell | Peter Jacobs | Rosanne Robertson | VIA Collective"
    -   label: "Hoke's Bluff"
        date: "Fri 24 + Sat 25 Oct, 8pm. £11/6"
        venue: "| Contact"
        artists:
            - {folder: actionhero, name: "Action Hero"} 
    -   label: "Chewing The Fat"
        date: "Fri 7 Nov, 8pm. £12/10"
        venue: "| The Lowry Studio"
        artists:
            - {folder: thompson, name: "Selina Thompson"} 

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
