---
layout: base

season: "Emergency 2014"
bodyclass: e2014

events:
    -   artists:
            - {folder: afternoon, name: "AFTERNOON ACTIVITY: 12noon-5pm"}
            - name: "artists tbc"
            - {folder: evening, name: "EVENING SHOWS + STUFF: 5pm-11pm"}
            - name: "artists tbc"
    -   rawhtmlinstead: "<a href='http://bit.ly/1bFUlqt'>Venues Map (2013)</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-autumnwinter'>Back to Performance Programme Autumn/Winter 2014</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
