---
layout: base

season: "Performance Programme Autumn/Winter 2014"
bodyclass: aw2014
sectionroot: 'archive/2014-autumnwinter'

events:
    -   label: "Emergency 2014"
        date: "Sat 4 Oct, 12noon-10pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/archive/2014-emergency'>A free day out for the curious, with:</a><br>Alice Bunker-Whitney | Ana Mendes | Anton Mirto | Art Of Disappearing | Barbara Dean | Boland-Burrell + Byrne | Debbie Sharp | Eik + Orengo | FM | Frances-Kay | Hamish MacPherson | Hidden Track | Hooligans Present | J. Fergus Evans | Jade Montserrat | Jamil Keating | Jonathan Rogerson | Krissi Musiol | Lydia Cottrell | Martin Hamblen | Matthew Pearce | Nathan Birkinshaw | Neil Callaghan | Odd Comic | Olivia Preye | Paul O'Donnell | Peter Jacobs | Rosanne Robertson | VIA Collective"
    -   label: "Hoke's Bluff"
        date: "Fri 24 + Sat 25 Oct, 8pm. £11/6"
        venue: "| Contact"
        artists:
            - {folder: actionhero, name: "Action Hero"} 
    -   label: "Chewing The Fat"
        date: "Fri 7 Nov, 8pm. £12/10"
        venue: "| The Lowry (Studio)"
        artists:
            - {folder: thompson, name: "Selina Thompson"}
            - name: "[N.B. artist workshop is fully booked]"	
    -   label: "The man who flew into space from his apartment <span style='text-transform:lowercase'>(work-in-progress) <em>(all performances sold-out)</em></span>"
        date: "Fri 28 Nov, 6/7/8pm. By donation"
        venue: "| Z-arts"
        artists:
            - {folder: pinchbeck, name: "Michael Pinchbeck, with guests:"}
            - name: "Anna Fenemore | Nicki Hobday | Ollie Smith"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
