---

layout: base

season: "Hazard 2014"
bodyclass: hazard

events:      
    -    artists:
            - name: "Subject to change, our schedule:"         
            - name: "ONGOING ACTIVITY (12noon-5pm)"         
            - name: "Eric MacLennan | Hanna Rohn + Signhild Wærsted | Harald Smykla | Hidden Track Theatre | ICD | Jamil Keating | Leo Burtin | Martin Hamblen | Natasha Vicars | No more Page 3 Manchester | Oliver Palmer | Rachel Ramchurn | Top Joe"    
            - name: "ALSO HAPPENING 12noon-1pm"        
            - name: "Disco Jazz + Bingo Meg | Antje Hildebrandt"        
            - name: "ALSO HAPPENING 1-2pm"        
            - name: "Disco Jazz + Bingo Meg | Nicola Canavan | Stephen Donnelly | Antje Hildebrandt"        
            - name: "ALSO HAPPENING 2-3pm"        
            - name: "Disco Jazz + Bingo Meg | Nicola Canavan | The Association Of Low Visibility Workers | Antje Hildebrandt"        
            - name: "ALSO HAPPENING 3-4pm"        
            - name: "The Association Of Low Visibility Workers | Stephen Sheehan | Kris Canavan | Stephen Donnelly"        
            - name: "ALSO HAPPENING 4-5pm"        
            - name: "Kris Canavan"        
    -   rawhtmlinstead: "<a href='http://bit.ly/1wrGmvW'>Information Point Location (Map)</a>"         
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2014-springsummer'>Back to Performance Programme Spring/Summer 2014</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
