---
layout: base

season: "Performance Programme Spring/Summer 2014"
bodyclass: ss2014
sectionroot: 'archive/2014-springsummer'

events:
    -   label: "Works Ahead 2014"
        date: "Thu 8 + Fri 9 May, 7.30pm.<br>£6/3"
        venue: "| Contact"
        rawhtmlinstead: "<a href='/archive/2014-worksahead'>Annual new performance sampler.</a>"
        artists:
            - name: "Lindsay Bennett | Paul O’Donnell | SheepKnuckle" 
    -   label: "The Flare Weekender 2014"
        date: "Fri 13 Jun, 7pm + Sat 14 Jun, 1pm + 7pm.<br>Various prices"
        venue: "| Z-arts"
        rawhtmlinstead: "<a href='/archive/2014-flare'>Radical new international theatre.</a>"
        artists:
            - name: "Almost Human | Anna Fenemore (workshop) | Drunken Chorus | El Conde De Torrefiel | Hannah Sullivan | Hester Chillingworth + Tim Etchells (guest video) | Leentje Van de Cruys (ltd capacity) | Marius Mensink | Moeremans&Sons | SheepKnuckle | Walk of Shame | Wies Fest"
    -   label: "Hazard 2014"
        date: "Sat 12 Jul, 12noon-5pm.<br>FREE/unticketed"
        venue: "| St Ann's Square, Mcr"
        rawhtmlinstead: "<a href='/archive/2014-hazard'>Micro-festival of intervention.</a>"
        artists:
            - name: "Antje Hildebrandt | Bingo Meg + Disco Jazz | Hanna Rohn + Signhild Wærsted | Harald Smykla | Hidden Track | ICD | Kris Canavan | Leo Burtin | Martin Hamblen | Natasha Vicars | Nicola Canavan | No More Page 3 | Oliver Palmer | Rachel Ramchurn | Stephen Donnelly | Stephen Sheehan | The Association Of Low Visibility Workers | Top Joe | Tracy Lumpkin"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
