---

layout: base

season: "Turn 2015"
bodyclass: t2015

events:
    -   artists:
            - name: "Subject to change, our schedule includes:<br>FIRST NIGHT: Friday 27 March<br>Adam Russell | Ebony-Rose + Lorienne Aimée | Joshua Hubbard | Lo-Giudice Dance | Maelstrom Theatre | Peter Grist + Co | Rachel Sweeney | Sophie Unwin<br>SECOND NIGHT: Saturday 28 March<br>Dan Watson | EdgeFWD Dance Theatre | Joseph Mannion | Malachi Simmons + Theo Fapohunda | Phoebe Ophelia Douthwaite | Rebekka Platt | Tangled Dance Company | Victoria Sheldon | <em>plus a Mixed Movement Turn Special</em>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-spring'>Back to Performance Programme Spring 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
