---
layout: base

season: "Performance Programme Spring 2015"
bodyclass: s2015

events:
    -   label: "Sister"
        date: "Thu 5 — Sat 7 Feb, 7.30pm. £13/7"
        venue: "| Queer Contact"
        artists:
            - {folder: cade, name: "Amy + Rosana Cade"} 
    -   label: "Horse | Whoaaaaa Steady!"
        date: "Tue 24 Feb, 7.30pm. £12/10"
        venue: "| The Lowry | Double Bill"
        artists:
            - {folder: vandecruys, name: "Leentje Van de Cruys | University of Salford"}
    -   label: "Cuckooed"
        date: "Wed 25 Feb, 8pm. £19"
        venue: "| The Lowry"
        artists:
            - {folder: thomas, name: "Mark Thomas"}
    -   label: "Haphazard"
        date: "Sat 28 Feb, 12noon-4pm. Free"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-haphazard'>A free day out for the curious of all ages.</a>"
    -   label: "Hunt & Darton Cafe"
        date: "4 — 25 Mar (Wed-Sun only), 12noon-7.30pm"
        venue: "| SICK! Festival (venue tbc)"
        artists:
            - {folder: h&d, name: "A fully functioning cafe blending art with the everyday."}
    -   label: "Turn 2015"
        date: "Fri 27 + Sat 28 Mar, 7.30pm. £9/5, two nights £11/6"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-turn'>A micro-festival of new dance.</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
