---
layout: base

season: "Hunt & Darton Cafe"
bodyclass: hd

events:
    -   artists:
            - name: "Subject to change, the Cafe will present:"
            - {folder: a, name: "week A"}
            - name: "artists to be confirmed"
            - {folder: b, name: "week B"}
            - name: "artists to be confirmed"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-spring'>Back to Performance Programme Spring 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
