---

layout: base

season: "Works Ahead 2015"
bodyclass: woah
sectionroot: 'archive/2015-worksahead'

events:
    -   artists:
            - {folder: birkinshaw, name: "Nathan Birkinshaw"}
            - {folder: keating, name: "Jamil Keating"}
    -   rawhtmlinstead: "<a href='/archive/2015-springsummer'>Back to Performance Programme Spring/Summer 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
