---

layout: base

season: "Turn 2015"
bodyclass: t2015

events:
    -   artists:
            - {folder: fri, name: "FIRST NIGHT: Friday 27 March"}
            - name: "artists to be confirmed"
            - {folder: sat, name: "SECOND NIGHT: Saturday 28 March"}
            - name: "artists to be confirmed"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-spring'>Back to Performance Programme Spring 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
