---
layout: base

season: "Emergency 2015"
bodyclass: e2013

events:
    -   artists:
            - name: "Subject to change, our schedule includes:"
            - {folder: one-to-ones, name: "ONE-TO-ONES: 12noon-5.30pm<br>(Limited capacity: sign-up on the day)"}
            - name: ""
            - {folder: ongoing, name: "ONGOING/DURATIONAL: 12noon-5.30pm"}
            - name: ""
            - {folder: lunchtime, name: "LUNCHTIME: 12noon-3pm"}
            - name: ""
            - {folder: afternoon, name: "AFTERNOON: 3pm-5.30pm<br>(Advisory: may not be suitable for under 18s)"}
            - name: ""
            - {folder: evening, name: "EVENING: 5.30pm-10pm"}
            - name: ""
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-autumnwinter'>Back to Performance Programme Autumn/Winter 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
