---
layout: base

season: "Performance Programme Autumn/Winter 2015"
bodyclass: aw2015

events:
    -   label: "Domestic II"
        date: ""
        venue: "at Matthias Court, M3 6JD"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Tagline</a>"
    -   label: ""
        date: "24—26 Sep, 7.30pm. £5"
        venue: "| Matthias Court, M3 6JD"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Audio Caff | Ria Hartley | Cheryl Martin | Louise Wallwein + guests</a>"
    -   label: ""
        date: "Fri 25 Sep, 7pm + 10pm. £3"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Michael Pinchbeck</a>"
    -   label: ""
        date: "Sat 26 Sep, 12noon-5pm. FREE"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Various Artists.</a>"
    -   label: "Emergency 2015"
        date: "Sat 3 Oct, 12noon-10pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-emergency'>A free day-out for the curious.</a>"
    -   label: "Body of Light"
        date: "Thu 22 Oct, 8pm. £8/5"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: pritchard, name: "Darren Pritchard"}
    -   label: "Vesper Time"
        date: "17+18 Nov, 8pm. £13/7"
        venue: "| Contact"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
