---
layout: base

season: "Emergency 2015"
bodyclass: e2015
sectionroot: 'archive/2015-emergency'

events:
    -   artists:
            - name: "Subject to change, our schedule includes:"
            - {folder: afternoon, name: "AFTERNOON: 12noon-4pm"}
            - name: "Adam Lowe | Adam York Gregory + Gillian Jane Lees | Alicia Radage | Eleanor Fogg | Gwendolen Osmond | Howl Yuan | Nicola Smith | Paul Hughes + Andy Edwards | Rachel Gomme | Simon Farid | Simon Gerrard | Sturgeon's Law | Terri Donovan | The Demolition Project | Tim Anderson + Tessa Buddle | Trendscendence"
            - {folder: evening, name: "EVENING: 4pm-10pm"}
            - name: "Ali Matthews + Leo Burtin | Ali Wilson | Chris Jenkins | Dr Mango | Gareth Cutter | Howl Yuan | James O'Donoghue | Jon M Coleman | Lucy McCormick | Tin Can People"
    -   rawhtmlinstead: "<a href='/archive/2015-autumnwinter'>Back to Performance Programme Autumn/Winter 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
