---
layout: base

season: "Performance Programme Spring 2015"
bodyclass: s2015

events:
    -   label: "Sister <em><span style='text-transform:lowercase'>(all performances sold-out)</span></em>"
        date: "5 — 7 Feb, 7.30pm. £13/7"
        venue: "| Queer Contact"
        artists:
            - {folder: cade, name: "Amy + Rosana Cade [Q+A Fri 6 | BSL Sat 7]"} 
    -   label: "HORSE | Whoaaaaa Steady!"
        date: "Tue 24 Feb, 7.30pm. £12/10"
        venue: "| The Lowry"
        artists:
            - {folder: vandecruys, name: "Leentje Van de Cruys | University of Salford"}
    -   label: "Cuckooed"
        date: "Wed 25 Feb, 8pm. £19"
        venue: "| The Lowry"
        artists:
            - {folder: thomas, name: "Mark Thomas"}
    -   label: "Haphazard"
        date: "Sat 28 Feb, 12noon-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-haphazard'>A free day out for the curious of all ages.</a>"
    -   label: "Hunt & Darton Cafe"
        date: "4 — 25 Mar (Wed-Sun only)"
        venue: "| SICK! Festival"
        artists:
            - {folder: h&d, name: "A fully functioning café blending art with the everyday."}
    -   label: "Turn 2015"
        date: "27+28 Mar, 7.30pm. £9/5 (£11/6both)"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-turn'>A micro-festival of new dance.</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
