---

layout: base

season: "Domestic II"
bodyclass: d2015

events:      
    -   artists:
            - name: "Subject to change, our schedule includes:"         
            - name: "Thu 24 — Sat 26 Sep, 7.30pm. £5"    
            - {folder: caff, name: "Audio Caff"}
            - {folder: hartley, name: "Ria Hartley"}    
            - {folder: martin, name: "Cheryl Martin"}    
            - {folder: stamp, name: "Ellie Stamp"}    
            - {folder: wallwein, name: "Louise Wallwein"}    
            - name: "Fri 25 Sep, 7pm + 10pm. £3"        
            - {folder: pinchbeck, name: "Michael Pinchbeck"}        
            - name: "Sat 26 Sep, 12noon-5pm. FREE"        
            - {folder: saturday, name: "??? | ??? | ???"}        
    -   rawhtmlinstead: "<a href='http://bit.ly/1wrGmvW'>Venue Map</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-autumnwinter'>Back to Performance Programme Autumn/Winter 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
