---
layout: base

season: "Performance Programme Autumn/Winter 2015"
bodyclass: aw2015

events:
    -   label: "Domestic II"
        date: ""
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'><em>at Matthias Court, M3 6JD</em></a>"
    -   label: ""
        date: "24 — 26 Sep, 7.30pm. £5 (Fri 25 sold-out)"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic/audiocaff'>Audio Caff</a> | <a href='http://www.wordofwarning.org/current/2015-domestic/hartley'>Ria Hartley</a> | <a href='http://www.wordofwarning.org/current/2015-domestic/martin'>Cheryl Martin</a> | <a href='http://www.wordofwarning.org/current/2015-domestic/wallwein'>Louise Wallwein</a> + guests.</a>"
    -   label: ""
        date: "Fri 25 Sep, 7pm + 10pm. £3 (both sold-out)"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic/pinchbeck'>Michael Pinchbeck</a>"
    -   label: ""
        date: "Sat 26 Sep, 12noon-5pm. FREE, no need to book"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic/daytime'>Various Artists</a>"
    -   label: "Emergency 2015"
        date: "Sat 3 Oct, 12noon-10pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-emergency'>A free day-out for the curious.</a>"
    -   label: "Body of Light"
        date: "Thu 22 Oct, 8pm. £5"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: pritchard, name: "Darren Pritchard"}
    -   label: "Vesper Time"
        date: "17+18 Nov, 8pm. £13/7"
        venue: "| Contact"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
