---
layout: base

season: "Haphazard 2015"
bodyclass: h2015

events:
    -   artists:
            - name: "Subject to change, our schedule includes:<br>ONGOING ACTIVITY FROM 12noon TO 4pm<br>Anonymous | Leo Burtin | Josh Coates | Hunt & Darton | Lani Irving | Peter Jacobs | Julieann O’Malley† | Natasha Patel<br>TIMED ACTIVITY BETWEEN 12noon & 4pm<br>Rachel Ramchurn | Ultra Violets | Robert Foster | Levantes Dance Theatre | Liz Clarke"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-spring'>Back to Performance Programme Spring 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
