---
layout: base

season: "Performance Programme Spring/Summer 2015"
bodyclass: ss2015
sectionroot: 'archive/2015-springsummer'

events:
    -   label: "Works Ahead 2015 (<em>S<span style='text-transform:lowercase'>at sold-out</span></em>)"
        date: "24+25 Apr, 8pm. £6/3"
        venue: "| Contact | Double Bill"
        artists:
            - name: "<a href='/archive/2015-worksahead'>Nathan Birkinshaw | Jamil Keating</a>"
    -   label: "THIS IS HOW WE DIE"
        date: "5+6 May, 8pm. £11/7"
        venue: "| Flying Solo at Contact"
        artists:
            - {folder: bailey, name: "Christopher Brett Bailey [Q+A Tue 5]"} 
    -   label: "We Need to Talk About Bambi"
        date: "13+14 Jun, various. £5/3"
        venue: "| Hulme Garden Ctr"
        artists:
            - {folder: marshman, name: "Tom Marshman [booking essential]"}
    -   label: "Matilda and Me"
        date: "25 Jun, 7.30pm. £5/3"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: hartley, name: "Ria Hartley"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
