---
layout: base

season: "Performance Programme Autumn/Winter 2015"
bodyclass: aw2015

events:
    -   label: "Domestic II"
        date: "24—26 Sep, 7.30pm. £5"
        venue: "| Matthias Court, M3"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Performance stripped bare, with:</a><br>Audio Caff | Ria Hartley | Cheryl Martin | Ellie Stamp | Louise Wallwein"
    -   label: "Domestic II"
        date: "Fri 25 Sep, 7+10pm. £3"
        venue: "| Matthias Court, M3"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Performance stripped bare, with:</a><br>Audio Caff | Ria Hartley | Cheryl Martin | Ellie Stamp | Louise Wallwein"
    -   label: "Domestic II"
        date: "Sat 26 Sep, 12noon-5pm. FREE"
        venue: "| Matthias Court, M3"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Performance stripped bare, with:</a><br>??? | ??? | ???"
    -   label: "Emergency 2015"
        date: "Sat 3 Oct, 12noon-10pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-emergency'>A free day out for the curious, with:</a><br>??? | ??? | ???"
    -   label: "Body of Light"
        date: "Fri 23 Oct, ??pm. £5/3"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: pritchard, name: "Darren Pritchard"}
    -   label: "Divergency"
        date: "???Nov, ??pm. £5/3"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: divergency, name: "Divergency"}
    -   label: "Vesper Time"
        date: "17+18 Nov, 8pm. £13/7"
        venue: "| Contact"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
