---
layout: base

season: "Haphazard 2015"
bodyclass: h2015

events:
    -   artists:
            - name: "Subject to change, our schedule includes:<br>ONGOING ACTIVITY<br>Leo Burtin | Josh Coates | Hunt & Darton | Lani Irving | Peter Jacobs | Julieann O’Malley† | Natasha Patel | Ultra Violets<br>TIMED ACTIVITY<br>Liz Clarke | Robert Foster | Levantes Dance Theatre | Rachel Ramchurn"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-spring'>Back to Performance Programme Spring 2015</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
