---

layout: base

season: "Turn 2015"
bodyclass: t2015
sectionroot: 'archive/2015-turn'

events:
    -   artists:
            - name: "Subject to change, our schedule includes:"
            - {folder: fri, name: "FIRST NIGHT: Friday 27 March"}
            - name: "Adam Russell | Ebony-Rose + Lorienne Aimée | Joshua Hubbard | Lo-Giudice Dance | Peter Grist + Co | Rachel Sweeney | Sophie Unwin<br><em>Maelstrom Theatre no longer appear</em>"
            - {folder: sat, name: "SECOND NIGHT: Saturday 28 March"}
            - name: "Dan Watson | EdgeFWD | Joseph Mannion | Phoebe Ophelia Douthwaite | Rachel Sweeney | Rebekka Platt | Tangled Dance Company | ™ Dance Company | Victoria Sheldon<br><em>plus a Mixed Movement Turn Special</em>"     
    -   rawhtmlinstead: "<a href='/archive/2015-spring'>Back to Performance Programme Spring 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
