---

layout: base

season: "Domestic II"
bodyclass: d2015

events:
    -   artists:
            - name: "Subject to change, our schedule includes:"
    -   label: "at Matthias Court, M3 6JD"
        date: "Thu 24 — Sat 26 Sep"
    -   label: ""
        date: "Thu 24 — Sat 26 Sep, 7.30pm. £5"
        venue: ""
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2015-domestic'>Audio Caff | Ria Hartley | Cheryl Martin | Louise Wallwein + guests</a>"
    -   label: ""
        date: "Fri 25 Sep, 7pm + 10pm. £3"
        venue: ""
        artists:
            - {folder: pinchbeck, name: "Michael Pinchbeck"}
    -   label: ""
        date: "Sat 26 Sep, 12noon-5pm. FREE"
        venue: ""
        artists:
            - {folder: daytime, name: "Audio Caff | Leo Burtin | Clare Charnley | Charlotte CHW | Ria Hartley | Afreena Islam | Jamil Keating | Doris La Trine | Mackenzie & Reed | Ana Mendes | Threshold | Louise Wallwein | Laura Wyatt O’Keeffe"}
    -   rawhtmlinstead: "<a href='http://bit.ly/domesticTWO'>Matthias Court on Google Maps</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-autumnwinter'>Back to Performance Programme Autumn/Winter 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
