---

layout: base

season: "Domestic II"
bodyclass: d2015

events:      
    -   artists:
            - name: "Subject to change, our schedule includes:"         
            - {folder: thu, name: "THURSDAY EVENING 7pm, £5/3"}         
            - name: "Ria Hartley | Cheryl Martin"    
            - {folder: fri, name: "FRIDAY EVENING 7pm, £5/3"}        
            - name: "Ria Hartley | Cheryl Martin | Michael Pinchbeck"        
            - {folder: afternoon, name: "SATURDAY AFTERNOON 12noon-5pm, FREE"}        
            - name: "Domestic Emergency, with ??? | ??? | ???"        
            - {folder: sat, name: "SATURDAY EVENING 7pm, £5/3"}        
            - name: "Ria Hartley | Cheryl Martin"        
    -   rawhtmlinstead: "<a href='http://bit.ly/1wrGmvW'>Information Point Location (Map)</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2015-autumnwinter'>Back to Performance Programme Autumn/Winter 2015</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
