---
layout: base

season: "Performance Programme Autumn/Winter 2016"
bodyclass: aw2016
sectionroot: 'current/2016-autumnwinter'

events:
    -   label: "Emergency 2016"
        date: "Sat 1 Oct, 12noon-11pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2016-emergency'>A free day out for the curious, with</a>:<br>Ali Wilson | Amy Steel | Ben Spatz | Chanje Kunda | Darren White | Ding & sich | Dominique Baron-Bonarjee | Elena Molinaro | Hellen Burrough | Hollie Miller | Instant Dissidence | Jake Bowen | Jamil E-R Keating | Jen Morgan | Maelstrom Theatre | Matthew Harrison-Lord | Maya Chowdhry | Natalie Ramus | Paper People Theatre | Paul O’Donnell | Peter Jacobs | Ross McCaffrey | Rowland Hill + Jack Sheen | Roxanne Carney | Ryan O'Shea | Theatre 42 | Tin Can People | Tom Cassani | Toni-Dee Paul"
    -   label: "Divergency"
        date: "Thu 6 Oct, 6-10pm"
        venue: "| Z-arts (incl. STUN Studio)"
        artists:
            - name: "<a href='/current/2016-divergency'>An evening of the different, featuring</a>:"
    -   date: "<b>Installation:</b> 6-8.30pm. FREE"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-divergency/keating'>Jamil E-R Keating</a> | <a href='http://www.wordofwarning.org/current/2016-divergency/morgan'>Chelsea Morgan</a> | <a href='http://www.wordofwarning.org/current/2016-divergency/shelton'>Yvonne Shelton</a>"
    -   date: "<b>Tabletop Trio:</b> 6pm. £6/3 (very ltd capacity)"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-divergency/chowdhry'>Maya Chowdhry</a> | <a href='http://www.wordofwarning.org/current/2016-divergency/islam'>Afreena Islam</a> | <a href='http://www.wordofwarning.org/current/2016-divergency/paul'>Toni-Dee Paul</a>"
    -   date: "<b>Double Bill:</b> 8.30pm. £6/3"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-divergency/kunda'>Chanje Kunda</a> | <a href='http://www.wordofwarning.org/current/2016-divergency/martin'>Cheryl Martin</a>"
    -   label: "Manpower"
        date: "Thu 10 Nov, 8pm. £12/10"
        venue: "| The Lowry"
        artists:
            - {folder: 2destlang, name: "Two Destination Language"}
    -   label: "Comeback Special"
        date: "Tue 22 — Thu 24 Nov, 8pm. £13/7"
        venue: "| Contact"
        artists:
            - {folder: wohead, name: "Greg Wohead [post-show Q&A Tue 22]"}

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
