---
layout: base

season: "Performance Programme Spring/Summer 2016"
bodyclass: ss2016

events:
    -   date: "Thu 7 Apr, 6-9pm. By donation"
        venue: "| Thursday Lates at the Whitworth"
    -   label: "HUG"
        date: "Fri 8 Apr; Sat 9 Apr. Free"
        venue: "| Harris Museum, Preston"
        artists:
            - {folder: standen, name: "Verity Standen"} 
    -   label: "Turn 2016"
        date: "22+23 Apr, 7.30pm. £9/5, both £11/6"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-turn'>Two day spin around new northern dance.</a>"
    -   label: "Queer as Yolk: Redux"
        date: "Sun 22 May, 8pm. By donation"
        venue: "| HOME"
        artists:
            - {folder: dedomenici, name: "Richard DeDomenici + Eggs Collective"} 
    -   label: "Works Ahead Compact Edition"
        date: "Fri 3 + Sat 4 Jun, times + prices tbc"
        venue: "| Contact"
        artists:
            - name: "Hidden stories: <a href='http://www.wordofwarning.org/current/2016-worksahead'>Terri Donovan</a> + <a href='http://www.wordofwarning.org/current/2016-worksahead'>Afreena Islam</a>" 
    -   label: "Works Ahead"
        date: "Fri 3 + Sat 4 Jun, 7.30pm. £6/3"
        venue: "| Contact"
        artists:
            - name: "Unpredictable double bill: <a href='http://www.wordofwarning.org/current/2016-worksahead'>Top Joe</a> + <a href='http://www.wordofwarning.org/current/2016-worksahead'>Lucy McCormick</a>" 
    -   label: "A Room for All Our Tomorrows"
        date: "Wed 29 Jun, 8pm. £12/10"
        venue: "| The Lowry"
        artists:
            - {folder: igorandmoreno, name: "Igor and Moreno"} 
    -   label: "Hazard 2016"
        date: "Sat 9 Jul, 12noon-5pm. Free"
        venue: "| St Ann's Square, Mcr"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-hazard'>Incidental intervention + sited performance.</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
