---
layout: base

season: "Hazard 2016"
bodyclass: h2016
sectionroot: 'current/2016-hazard'

events:
    -   label: "<a href='/current/2016-hazard/programme'>PROGRAMME</a> | <a href='http://www.google.com/maps/d/embed?mid=zUP9hOfLluWs.kfWwdpVK74IU' target='_blank'>CITY CENTRE MAP</a><br><a href='http://hazardmcr.posthaven.com/hazard-2016-schedule-and-map' target='_blank'>DOWNLOADABLE SCHEDULE (PDF)</a>"
        date: "Sat 9 Jul, 12noon-5pm | St Ann's Square, Mcr</a>"
    -   artists:
            - {folder: ongoing, name: "ONGOING ACTIVITY 12noon-5pm"}         
            - name: "Aidan Strudwick | Alex Bradley + Bill Leslie | Ali Wilson + Jessica Gibson | Full Circle Arts + Playfuel | Instant Dissidence | Nathaniel Mason | Sexcentenary | un-earthed coll. (installation)"    
            - {folder: 12-1, name: "FURTHER ACTIVITY 12noon-1pm"}        
            - name: "Output Arts | un-earthed coll. (performance) | Jin Bells"        
            - {folder: 1-2, name: "FURTHER ACTIVITY 1-2pm"}        
            - name: "There There | Output Arts | un-earthed coll. (performance) | Jin Bells | Elena Koukoli + Andreas Papapetrou"        
            - {folder: 2-3, name: "FURTHER ACTIVITY 2-3pm"}        
            - name: "There There | Output Arts | Dominique Baron-Bonarjee | Jin Bells | Vivian Chinasa Ezugha"        
            - {folder: 3-4, name: "FURTHER ACTIVITY 3-4pm"}        
            - name: "There There | Vivian Chinasa Ezugha | Output Arts | un-earthed coll. (performance) | Jin Bells | Elena Koukoli + Andreas Papapetrou"        
            - {folder: 4-5, name: "FURTHER ACTIVITY 4-5pm"}        
            - name: "Output Arts | un-earthed coll. (performance) | Jin Bells"        
        date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
