---
layout: base

season: "Hazard 2016"
bodyclass: h2016
sectionroot: 'current/2016-hazard'

events:
    -   label: "<a href='/current/2016-hazard/programme'>PROVISIONAL PROGRAMME</a> | <a href='http://www.google.com/maps/d/embed?mid=zUP9hOfLluWs.kfWwdpVK74IU' target='_blank'>MAP</a>"
        date: "Sat 9 Jul, 12noon-5pm | St Ann's Square, Mcr</a>"
    -   artists:
            - name: "Aidan Strudwick | Alex Bradley + Bill Leslie | Ali Wilson + Jessica Gibson | Charlotte CHW | Dominique Baron-Bonarjee | Elena Koukoli + Andreas Papapetrou | Full Circle Arts + Playfuel | Instant Dissidence | Jin Bells | Nathaniel Mason | Output Arts | Sexcentenary | There There | unearthed collective | Vivian Chinasa Ezugha"
        date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
