---

layout: base

season: "Turn 2016"
bodyclass: t2016
sectionroot: 'current/2016-turn'

events:
    -   label: "First Night"
        date: "Fri 22 Apr, 7.30pm. £9/5 | Contact"
        artists:
            - {folder: fri, name: "Jo Ashbridge | Tom Bowes Dance | Giorgio de Carolis | Bridget Fiske + Co. | Gayathri Ganapathy | Lizzie J Klotz | Holly Rush | Stream Project | Lauren Tucker"}
    -   label: "Second Night"
        date: "Sat 23 Apr, 7.30pm. £9/5 | Contact"
        artists:
            - {folder: sat, name: "Brink Dance Company | Ina Colizza + Antonello Apicella | Ekpei, McKie + Withycombe-Wharton | Louise Gibbons | Gracefool Collective | Manoli Moriaty + Frances Kay | Now | Shelley Owen | Joseph Reay-Reid | Adam John Roberts | Sap Dance"}
    -   date: "A two night pass is available for £11/6<br>Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
