---

layout: base

season: "Divergency"
bodyclass: div
sectionroot: 'current/2016-divergency'

events:
    -   label: "I<span style='text-transform:lowercase'>nstallation</span>"
        date: "Thu 6 Oct, 6-8.30pm. FREE"
        venue: "| Hulme Library"
        artists:
            - name: "Jamil Keating | Chelsea Morgan | Yvonne Shelton"
    -   label: "T<span style='text-transform:lowercase'>abletop</span> T<span style='text-transform:lowercase'>riple</span> B<span style='text-transform:lowercase'>ill</span>"
        date: "Thu 6 Oct, 6pm. £6/3 (very ltd capacity)"
        venue: "| Z-arts"
        artists:
            - name: "Maya Chowdry | Afreena Islam | Toni-Dee Paul"
    -   label: "L<span style='text-transform:lowercase'>ate</span> D<span style='text-transform:lowercase'>ouble</span> B<span style='text-transform:lowercase'>ill</span>"
        date: "Thu 6 Oct, 8.30pm. £6/3"
        venue: "| STUN Studio/Z-arts"
        artists:
            - name: "Chanje Kunda | Cheryl Martin"
    -   rawhtmlinstead: "<a href='/current/2016-autumnwinter'>Back to Performance Programme Autumn/Winter 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
