---

layout: base

season: "Works Ahead 2016"
bodyclass: woah
sectionroot: 'current/2016-worksahead'

events:
    -   label: "Works Ahead Compact Edition"
        date: "Fri 3 Jun, 4pm (5+6pm sold-out);<br>(Sat 4 Jun, 4+5+6pm sold-out). £4/2 | Contact"
        artists:
            - name: "<a href='/current/2016-worksahead/donovan'>Terri Donovan</a> + <a href='/current/2016-worksahead/islam'>Afreena Islam</a> (double bill)"
    -   label: "Works Ahead Evening Edition"
        date: "Fri 3 + Sat 4 Jun, 7.30pm. £6/3 | Contact"
        artists:
            - name: "<a href='/current/2016-worksahead/topjoe'>Top Joe</a> + <a href='/current/2016-worksahead/mccormick'>Lucy McCormick</a> (double bill)"
    -   rawhtmlinstead: "<a href='/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
