---
layout: base

season: "Emergency 2016"
bodyclass: e2016
sectionroot: 'current/2016-emergency'

events:
    -   date: "Sat 1 Oct, 12noon-10pm. FREE | Z-arts"
    -   artists:
            - name: "Ali Wilson | Amy Steel | Ben Spatz | Chanje Kunda | Darren White | Ding & Sich | Dominique Baron-Bonarjee | Elena Molinaro | Hellen Burrough | Hollie Miller | Instant Dissidence | Jake Bowen | Jamil E-R Keating | Jen Morgan | Maelstrom Theatre | Matthew Harrison-Lord | Maya Chowdhry | Natalie Ramus | Paper People Theatre | Paul O'Donnell | Peter Jacobs | Ross McCaffrey | Rowland Hill + Jack Sheen | Roxanne Carney | Ryan O'Shea | Theatre 42 | Tin Can People | Tom Cassani | Toni-Dee Paul"
    -   date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2016-autumnwinter'>Back to Performance Programme Autumn/Winter 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
