---
layout: base

season: "Performance Programme Spring/Summer 2016"
bodyclass: ss2016
sectionroot: 'current/2016-springsummer'

events:
    -   date: "(Thu 7 Apr, 6-9pm sold-out)<br>By donation"
        venue: "| Thursday Lates at the Whitworth"
    -   label: "HUG"
        date: "(Fri 8 Apr, 6-8pm sold-out) Sat 9 Apr, 1-5pm.<br>Free"
        venue: "| Harris Museum, Preston"
        artists:
            - {folder: standen, name: "Verity Standen [booking essential]"}
    -   label: "Turn 2016"
        date: "Fri 22 + Sat 23 Apr, 7.30pm.<br>£9/5, two nights £11/6"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2016-turn'>Two day spin around new northern dance.</a>"
    -   label: "Queer as Yolk: Redux"
        date: "Sun 22 May, 8pm. By donation"
        venue: "| HOME"
        artists:
            - {folder: redux, name: "Richard DeDomenici + Eggs Collective"}
    -   label: "Works Ahead Compact Edition"
        date: "Fri 3 Jun, 4pm (5+6pm sold-out);<br>(Sat 4 Jun, 4+5+6pm sold-out). £4/2"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2016-worksahead/donovan'>Terri Donovan</a> + <a href='/current/2016-worksahead/islam'>Afreena Islam</a> (double bill)"
    -   label: "Works Ahead Evening Edition"
        date: "Fri 3 + Sat 4 Jun, 7.30pm. £6/3"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2016-worksahead/topjoe'>Top Joe</a> + <a href='/current/2016-worksahead/mccormick'>Lucy McCormick</a> (double bill)"
    -   label: "A Room for All Our Tomorrows"
        date: "Wed 29 Jun, 8pm. £12/10"
        venue: "| The Lowry"
        artists:
            - {folder: igorandmoreno, name: "Igor and Moreno"}
    -   label: "Hazard 2016"
        date: "Sat 9 Jul, 12noon-5pm.<br>Free"
        venue: "| St Ann's Square, Mcr City Centre"
        artists:
            - name: "<a href='/current/2016-hazard'>Incidental intervention and sited performance.</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
