---
layout: base

season: "Performance Programme Spring/Summer 2016"
bodyclass: ss2016

events:
    -   date: "Thu 7 Apr, 6-9pm.<br>By donation"
        venue: "| Thursday Lates at the Whitworth<br><a href="http://www.wegottickets.com/wordofwarning" target="_blank">Please check our ticket portal for latest availability.</a>"
    -   label: "HUG"
        date: "Fri 8 Apr, 6-8pm; Sat 9 Apr, 1-5pm.<br>Free"
        venue: "| Harris Museum, Preston"
        artists:
            - {folder: standen, name: "Verity Standen [booking essential]"} 
    -   label: "Turn 2016"
        date: "Fri 22 + Sat 23 Apr, 7.30pm.<br>£9/5, two nights £11/6"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-turn'>Two day spin around new northern dance.</a>"
    -   label: "Queer as Yolk: Redux"
        date: "Sun 22 May, 8pm. By donation"
        venue: "| HOME"
        artists:
            - {folder: redux, name: "Richard DeDomenici + Eggs Collective"} 
    -   label: "Works Ahead Compact Edition"
        date: "Fri 3 + Sat 4 Jun, times + prices tbc"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-worksahead'>Terri Donovan + Afreena Islam's hidden stories.</a>" 
    -   label: "Works Ahead"
        date: "Fri 3 + Sat 4 Jun, 7.30pm. £6/3"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-worksahead'>Top Joe + Lucy McCormick in a double bill.</a>" 
    -   label: "A Room for All Our Tomorrows"
        date: "Wed 29 Jun, 8pm. £12/10"
        venue: "| The Lowry"
        artists:
            - {folder: igorandmoreno, name: "Igor and Moreno"} 
    -   label: "Hazard 2016"
        date: "Sat 9 Jul, 12noon-5pm.<br>Free"
        venue: "| St Ann's Square, Mcr City Centre"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-hazard'>Incidental intervention and sited performance.</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
