---
layout: base

season: "Performance Programme Spring/Summer 2016"
bodyclass: ss2016

events:
    -   label: "HUG"
        date: "Thu 7 / Sat 9 / Sun 10 Apr, various. £??"
        venue: "| tbc"
        artists:
            - {folder: standen, name: "Verity Standen"} 
    -   label: "Turn 2016"
        date: "22+23 Apr, 7.30pm. £9/5(£11/6both)"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-turn'>A micro-festival of new dance.</a>"
    -   label: "Queer as Yolk, The Redux"
        date: "Thu 12 / 19 May, 7.30pm. By donation"
        venue: "| an Informal evening in STUN Studio at Z-arts"
        artists:
            - {folder: dedomenici, name: "Richard DeDomenici + Eggs Collective"} 
    -   label: "Works Ahead 2016"
        date: "3+4 Jun, 7.30pm. £6/3"
        venue: "| Contact"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-worksahead'>Lucy + Chris et al</a>" 
    -   label: "A Room for All Our Tomorrows"
        date: "Wed 29 Jun, ??pm. £?/?"
        venue: "| The Lowry (Aldridge Studio)"
        artists:
            - {folder: igorandmoreno, name: "Igor and Moreno"} 
    -   date: "Coming soon…"
        artists:
            - name: "Hazard, Emergency…"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
