---
layout: base

season: "Performance Programme Autumn/Winter 2016"
bodyclass: aw2016
sectionroot: 'current/2016-autumnwinter'

events:
    -   label: "Emergency 2016"
        date: "Sat 1 Oct, 12noon-10pm. FREE"
        venue: "| Hulme Library + Z-arts"
	artists:
            - name: "<a href='/current/2016-emergency'>A free day-out for the curious.</a>"
    -   label: "Divergency"
        date: "Thu 6 Oct, 6-10pm."
        venue: ""
        artists:
            - name: "<a href='/current/2016-divergency'>An evening of the different.</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
