---

layout: base

season: "Divergency 2016"
bodyclass: div
sectionroot: 'current/2016-divergency'

    -   label: "Installation"
        date: "Thu 6 Oct, 6-8.30pm. FREE"
        venue: "| Hulme Library"
        artists:
            - name: "Jamil Keating | Chelsea Morgan | Yvonne Shelton"
    -   label: "Tabletop Triple Bill"
        date: "Thu 6 Oct, 6pm. £6/3 (very ltd cap)"
        venue: "| Z-arts"
        artists:
            - name: "Maya Chowdry | Afreena Islam | Toni-Dee Paul"
    -   label: "Late Double Bill"
        date: "Thu 6 Oct, 8.30pm. £6/3"
        venue: "| Z-arts (incl STUN Studio)"
        artists:
            - name: "Chanje Kunda | Cheryl Martin"
    -   rawhtmlinstead: "<a href='/current/2016-autumn/winter'>Back to Performance Programme Autumn/Winter 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
