---
layout: base

season: "Hazard 2016"
bodyclass: h2016
sectionroot: 'current/2016-hazard'

events:
    -   date: "Sat 9 Jul, 12noon-5pm | <a href='http://www.google.com/maps/d/embed?mid=zUP9hOfLluWs.kfWwdpVK74IU' target='_blank'>St Ann's Square, Mcr</a>"
    -   rawhtmlinstead: "<a href='/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
