---
layout: base

season: "Performance Programme Spring 2016"
bodyclass: s2016

events:
    -   label: "STUD"
        date: "4 — 6 Feb, 9.30pm. £13/7"
        venue: "| Queer Contact"
        artists:
            - {folder: macaskill, name: "Eilidh MacAskill"} 
    -   label: "Haphazard 2016"
        date: "Sat 20 Feb, 12noon-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='http://www.wordofwarning.org/current/2016-haphazard'>A free day out for the curious of all ages.</a>"
    -   label: "Sampler Series 2016"
        date: "26 Feb, 7.30pm. By donation"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: sampler, name: "Artists tbc"} 
    -   label: "You're Not Alone"
        date: "Sat 12 Mar, 8pm. £13/7"
        venue: "| SICK! Lab at Contact"
        artists:
            - {folder: noble, name: "Kim Noble"} 
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
