---

layout: base

season: "Works Ahead 2016"
bodyclass: woah

events:
    -   artists:
            - name: "Fri 3 + Sat 4 Jun, times + prices tbc"
            - name: "Terri Donovan + Afreena Islam"
            - name: "Fri 3 + Sat 4 Jun, from 7.30pm. £6/3"
            - name: "Top Joe | Lucy McCormick"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2016-spring'>Back to Performance Programme Spring 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
