---

layout: base

season: "Works Ahead 2016"
bodyclass: woah

events:
    -   label: "Works Ahead Compact Edition"
        date: "Fri 3 + Sat 4 Jun, 5pm + 6pm. £4/2 | Contact"
        artists:
            - name: "Terri Donovan + Afreena Islam"
    -   label: "Works Ahead Evening Edition"
        date: "Fri 3 + Sat 4 Jun, 7.30pm. £6/3 | Contact"
        artists:
            - name: "Top Joe + Lucy McCormick"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
