---

layout: base

season: "Turn 2016"
bodyclass: t2016

events:
    -   date: "Fri 22 + Sat 23 Apr, 7.30pm | Contact"
    -   artists:
            - name: "Participating artists to be announced soon."
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2016-spring'>Back to Performance Programme Spring 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
