---
layout: base

season: "Emergency 2016"
bodyclass: e2016
sectionroot: 'current/2016-emergency'

events:
    -   date: "Sat 1 Oct, 12noon-10pm. FREE | Hulme Library + Z-arts"
    -   artists:
            - name: "Artists to be announced."
    -   rawhtmlinstead: "<a href='/current/2016-autumnwinter'>Back to Performance Programme Autumn/Winter 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
