---
layout: base

season: "Haphazard 2016"
bodyclass: hh2016
sectionroot: 'archive/2016-haphazard'

events:
    -   date: "Sat 20 Feb, 12noon-4pm. FREE | Z-arts"
    -   artists:
            - name: "Artizani | Doris La Trine | Eilidh MacAskill + Rosana Cade (Gendersaurus Rex) | Flipbook People† | Gareth Cutter | Katy Baird | Katy Dye | Left Leg Gallery | Lucy McCormick | Marcus Orlandi† | Matt Girling | Same Difference | Travelling Lights"
    -   label: "<a href='/galleries/2016-hapslide'>PICTURES HERE</a> | <a href='/archive/2016-haphazard/programme'>PROGRAMME</a>"
    -   rawhtmlinstead: "<a href='/archive/2016-spring'>Back to Performance Programme Spring 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
