---

layout: base

season: "Turn 2016"
bodyclass: t2016

events:
    -   date: "Fri 22 + Sat 23 Apr, 7.30pm | Contact"
    -   artists:
            - name: "Participating artists (subject to change):<br>Jo Ashbridge | Tom Bowes Dance | Brink Dance Company | Giorgio de Carolis | Ina Colizza + Antonello Apicella | Ekpei, McKie + Withycombe-Wharton | Bridget Fiske + Co. | Gayathri Ganapathy | Louise Gibbons | Gracefool Collective | Lizzie J Klotz | Manoli Moriaty + Frances Kay | Now | Shelley Owen | Joseph Reay-Reid | Adam John Roberts | Holly Rush | Sap Dance | Stream Project | Lauren Tucker"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2016-springsummer'>Back to Performance Programme Spring/Summer 2016</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
