---
layout: base

season: "Emergency 2017"
bodyclass: e2017
sectionroot: 'current/2017-emergency'

events:
    -   date: "Sat 30 Sep, 12noon-10pm. PWYD | Z-arts"
    -   artists:
            - {folder: afternoon, name: "Afternoon Session: 12noon-5pm"}
            - name: "Alex Billingham | Becoming Storybook† | Briggsy & Hawk Dance Theatre† | Eliza Soroga† | Gameshow | Jamal Gerald† | Johanna Bolton† | Laura Napier | M. Valcarcel-Saez | Matrafisc Dance† | Paula Davy & Gilda Lockheart | Peter Jacobs | Rampant† | Vijay Patel† | Virginia Scudeletti & Nicholas Figgis | Zoe Toolan†"
            - {folder: evening, name: "Evening Session: 5pm-10pm"}
            - name: "Katy Dye & Craig Manson† | Krissi Musiol† | Jon Coleman | Tom Estes | Greg Saxton† | TukaWach† | Matt & Nath | Emma Geraghty† | Dan Craddock & Sophie Unwin† | Ben Mills & Lydia Cottrell"
            - name: "( † <i>limited capacity</i>)"
    -   date: "Participating artists subject to change."
    -   label: "<a href='/galleries/2017-emergencypre'>ARTIST IMAGES</a>"
    -   rawhtmlinstead: "<a href='/current/2017-autumnwinter'>Back to Performance Programme A/W 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
