---
layout: base

season: "Performance Programme Spring Summer 2017"
bodyclass: ss2017
sectionroot: 'current/2017-springsummer'

events:
    -   label: "Turn 2017"
        date: "Fri 28 Apr, 7.30pm."
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2017-turn'>A whirlwind night of new northern dance."
    -   label: "Works Ahead 2017"
        date: "Thu 11 + Fri 12 May, 7.30pm. £7/4 or both nights £13/7"
        artists:
            - name: "<a href='/current/2017-worksahead'>Annual performance sampler.</a>"
    -   label: ""
        date: "Thu 11 + Fri 12 May, 7.30pm. £7/4"
        venue: "| Contact"
        artists:
            - name: "Tom + Toni-Dee"
    -   label: ""
        date: "Thu 11 + Fri 12 May, 7.30pm. £7/4"
        venue: "| STUN Studio at Z-arts"
        artists:
            - name: "Chanje + Jamil"
    -   label: "The Road to Huntsville"
        date: "Wed 17 May, 8pm. Pay What You Decide"
        venue: "| Part of WTF at The Lowry"
        artists:
            - {folder: ridings, name: "Stephanie Ridings"}
    -   label: "Redux: 24hr Party People"
        date: "??? 5 Jul, ?pm. £?/?"
        venue: "| HOME"
        artists:
            - {folder: redux, name: "Richard DeDomenici &co"}
        
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
