---
layout: base

season: "Haphazard 2017"
bodyclass: hh2017
sectionroot: 'current/2017-haphazard'

events:
    -   date: "Sat 1 Apr, 12noon-4pm. FREE | Z-arts"
    -   artists:
            - name: "AAA Batteries | Benjamin McChrystal Plimmer | Chris Sav | Delpha Hudson + Nigel Bispham | Grace Surman + Clare Dearnaley | Lani Irving + Chloe Smith | Megan Egglestein | Michael Gleave | Natalie Wearden + Indigo Branscombe | Nicola Smith | Philip Breadney | Rebekka Platt"
            - date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2017-spring'>Back to Performance Programme Spring 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
