---

layout: base

season: "Works Ahead 2017"
bodyclass: woah
sectionroot: 'current/2017-worksahead'

events:
    -   label: ""
        date: "Thu 11 + Fri 12 May. See both nights £13/7"
        artists:
            - name: "Two nights, two venues, four new works in development:"
    -   venue: "at Contact: 7.30pm. £7/4 each night"
        artists:
            - name: "<i>My Father's Kitchen</i>Toni-Dee Paul<br><i>Someone Loves You Drive With Care</i>Tom Cassani"
    -   venue: "at STUN Studio at Z-arts: 7.30pm. £7/4 each night"
        artists:
            - name: "<i>Superposition</i>Chanje Kunda<br><i>Asteroid RK1</i>Jamil Keating †<br>[†Limited capacity; free with <i>Superposition</i>.]"
    -   rawhtmlinstead: "<a href='/current/2017-spring'>Back to Performance Programme Spring 2017</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
