---
layout: base

season: "Turn 2017"
bodyclass: t2017
sectionroot: 'current/2017-turn'

events:
    -   date: "Fri 28 Apr, 7.30pm. £9/5 | Contact"
    -   artists:
            - name: "Akeim Toussaint Buck | Ane Iselin Brogeland | Born + Bred Dance Theatre | Coalesce Dance | Giorgio de Carolis | Jo Cork | Kapow Dance | Matrafisc Dance | Meraki Collective | Peter Groom Dance Theatre | Rebekka Platt | The inFamous Five"
    -   date: "Participating artists subject to change."    
    -   label: "<a href='/galleries/2017-turnpre'>PICTURES</a> | PROGRAMME COMING SOON"    
    -   rawhtmlinstead: "<a href='/current/2017-springsummer'>Back to Performance Programme Spring/Summer 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
