---
layout: base

season: "Performance Programme Spring 2017"
bodyclass: s2017
sectionroot: 'current/2017-spring'

events:
    -   label: "Castle Rock"
        date: "Wed 25 Jan, 8pm. Pay What You Decide"
        venue: "| Part of WTF at The Lowry"
        artists:
            - {folder: massiveowl, name: "Massive Owl"}
    -   label: "(I Could Go On Singing)<br>Over The Rainbow"
        date: "Thu 16 Feb, 6-9pm. Free"
        venue: "| Thursday Lates at the Whitworth during Queer Contact 2017"
        artists:
            - {folder: alexander, name: "FK Alexander"}
    -   label: "A Machine They're Secretly Building"
        date: "(Wed 1 Mar, 8pm sold-out.) Pay What You Decide"
        venue: "| Part of WTF at The Lowry"
        artists:
            - {folder: proto-type, name: "Proto-type Theater"}
    -   label: "Cock and Bull"
        date: "(Thu 16 + Fri 17 sold-out) Sat 18 Mar, 7.30pm. £12/10"
        venue: "| The Studio at Royal Exchange Theatre"
        artists:
            - {folder: green, name: "Nic Green &co [<i>plus</i> Sat 18: artist workshop]"}
    -   label: "Haphazard 2017"
        date: "Sat 1 Apr, 12noon-4pm. Free"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2017-haphazard'>A free day out for the curious of all ages with an April Fool's twist.</a>"
    -   date: "Coming soon…"
    -   label: "Turn 2017"
        date: "Fri 28 Apr, 7.30pm. £9/5"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2017-turn'>A whirlwind night of new northern dance.</a>"
    -   label: "Works Ahead 2017"
        date: "Thu 11 + Fri 12 May. See both nights £13/7"
        artists:
            - name: "Two nights, two venues, four new works in development:"
    -   venue: "at Contact: 7.30pm. £7/4 each night"
        artists:
            - name: "Toni-Dee Paul<br>Tom Cassani"
    -   venue: "STUN Studio at Z-arts: 7.30pm. £7/4 ea night"
        artists:
            - name: "Chanje Kunda<br>Jamil Keating [limited capacity]"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
