---

layout: base

season: "Turn 2017"
bodyclass: t2016
sectionroot: 'current/2017-turn'

events:
    -   label: "PUBLIC PROGRAMME"
        date: "Fri 28 Apr, 7.30pm. £9/5 | Contact"
        artists:
            - {folder: fri, name: "A whirlwind night of new northern dance."}
    -   label: "ARTIST DAY"
        date: "Sat 23 Apr, 3.30-9pm. | Contact"
        artists:
            - {folder: sat, name: "A professional development day for dancers + dance-makers featuring a 3.30pm workshop + Mixed Movement from 7pm"}
    -   date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2017-spring'>Back to Performance Programme Spring 2017</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
