---
layout: base

season: "Performance Programme Spring 2017"
bodyclass: s2017
sectionroot: 'current/2017-spring'

events:
    -   label: "Castle Rock"
        date: "Wed 25 Jan, 8pm. Pay What You Decide"
        venue: "| The Lowry (Aldridge Studio) [Part of WTF Wednesday]"
        artists:
            - {folder: massiveowl, name: "Massive Owl"}
    -   label: "(I Could Go On Singing) Over The Rainbow"
        date: "Thu 16 Feb, 6-9pm. Free"
        venue: "| Thursday Lates at the Whitworth [Part of Queer Contact 2017]"
        artists:
            - {folder: alexander, name: "FK Alexander"}
    -   label: "A Machine They're Secretly Building"
        date: "Wed 1 Mar, 8pm. Pay What You Decide"
        venue: "| The Lowry (Aldridge Studio) [Part of WTF Wednesday]"
        artists:
            - {folder: proto-type, name: "Proto-type Theater"}
    -   label: "Cock and Bull"
        date: "Thu 16 — Sat 18 Mar, 7.30pm. £12/10"
        venue: "| (Studio at the) Royal Exchange Theatre"
        artists:
            - {folder: green, name: "Nic Green<br><small>Created by Nic Green with Laura Bradshaw, Rosana Cade + Simone Kenyon</small>"}
    -   label: "Haphazard 2017"
        date: "Sat 1 Apr, 12noon-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2017-haphazard'>A free day out for the curious of all ages with an April Fool's twist. [Participating artists tba]</a>"
    -   date: "Coming soon…"
        artists:
            - name: "Works Ahead + more!"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
