---
layout: base

season: "Performance Programme Autumn/Winter 2017"
bodyclass: aw2017
sectionroot: 'current/2017-autumnwinter'

events:
    -   date: "Please note all events are Pay What You Decide"
    -   label: "Alba"
        date: "Wed 27 Sep, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: bannon, name: "Jo Bannon"}
    -   label: "Emergency 2017"
        date: "Sat 30 Sep, 12noon-10pm. PWYD"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2017-emergency'>A full day out for the curious.</a>"
    -   label: "Windows of Displacement"
        date: "Thu 19 Oct, 7.30pm. PWYD"
        venue: "| STUN Studio"
        artists:
            - {folder: buck, name: "Akeim Toussaint Buck"}
    -   label: "Declining Solo"
        date: "Wed 8 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: 2destlang, name: "Two Destination Language"}
    -   label: "Rent Party"
        date: "Sat 11 Nov, 8pm. PWYD"
        venue: "| Adelphi Court, M3"
        artists:
            - {folder: pritchard, name: "Darren Pritchard Dance"}

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
