---
layout: base

season: "Performance Programme Spring/Summer 2017"
bodyclass: ss2017
sectionroot: 'current/2017-springsummer'

events:
    -   label: "Turn 2017"
        date: "Fri 28 Apr, 7.30pm. £9/5"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2017-turn'>A whirlwind night of new northern dance.</a>"
    -   label: "Works Ahead 2017"
        date: "Thu 11 + Fri 12 May. £7/4 each night; see both nights for £13/7"
        artists:
            - name: "<a href='/current/2017-worksahead'>Two nights, two venues, four new works in development:</a><br><i>at Contact: 7.30pm.</i><br>Toni-Dee Paul | Tom Cassani<br><i>at STUN Studio at Z-arts: 7.30pm.</i><br>Chanje Kunda | Jamil Keating"
    -   label: "The Road to Huntsville"
        date: "Wed 17 May, 8pm. Pay What You Decide"
        venue: "| Part of WTF at The Lowry"
        artists:
            - {folder: ridings, name: "Stephanie Ridings"}
    -   label: "24 Hour Party People: Redux"
        date: "Wed 5 Jul, 6.30pm. £7/5"
        venue: "| HOME"
        artists:
            - {folder: redux, name: "Richard DeDomenici"}
        
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
