---
layout: base

season: "Performance Programme Spring 2016"
bodyclass: s2016
sectionroot: 'archive/2016-spring'

events:
    -   label: "STUD"
        date: "Thu 4 — Sat 6 Feb, 9.30pm.<br>£13/7"
        venue: "| Queer Contact"
        artists:
            - {folder: macaskill, name: "Eilidh MacAskill"}
    -   label: "Haphazard 2016"
        date: "Sat 20 Feb, 12noon-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/archive/2016-haphazard'>A free day out for the curious of all ages, with</a>:<br>Artizani | Doris La Trine | Eilidh MacAskill + Rosana Cade (Gendersaurus Rex) | Flipbook People | Gareth Cutter | Katy Baird | Katy Dye | Left Leg Gallery | Lucy McCormick | Marcus Orlandi | Matt Girling | Same Difference | Travelling Lights"
    -   label: "This is not a magic show"
        date: "Fri 4 Mar, 7.30pm.<br>By donation"
        venue: "| STUN Studio at Z-arts"
        artists:
            - {folder: gambini, name: "Vincent Gambini + guest trick from Top Joe"}
    -   label: "You're Not Alone"
        date: "Sat 12 Mar, 8pm. £13/7"
        venue: "| Contact"
        artists:
            - {folder: noble, name: "Kim Noble"}
    -   date: "<a href='/current/2016-springsummer'>Coming soon…</a>"
        artists:
            - name: "HUG, Turn, the world première of Queer As Yolk: Redux, Works Ahead, Igor and Moreno and the return of Hazard!"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
