---

layout: base

season: "Works Ahead 2017"
bodyclass: woah
sectionroot: 'current/2017-worksahead'

events:
    -   date: "Thu 11 + Fri 12 May. See both nights £13/7"
	artists:
            - name: "<a href='/current/2017-worksahead'>Two nights, two venues, four new works in development:</a>"
	venue: "at Contact: 7.30pm. £7/4 each night"
	artists:
            - name: "Toni-Dee Paul<br>Tom Cassani"
	venue: "at STUN Studio at Z-arts: 7.30pm. £7/4 each night"
	artists:
            - name: "Chanje Kunda<br>Jamil Keating [limited capacity; free with Chanje Kunda ticket]"

    -   rawhtmlinstead: "<a href='/current/2017-spring'>Back to Performance Programme Spring 2017</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
