---
layout: base

season: "Emergency 2017"
bodyclass: e2017
sectionroot: 'current/2017-emergency'

events:
    -   date: "Sat 30 Sep, 12noon-10pm. PWYD | Z-arts"
    -   artists:
            - name: "Alex Billingham | Becoming Storybook | Ben Mills & Lydia Cottrell | Briggsy Produces & Hawk Dance Theatre | Dan Craddock & Sophie Unwin | Eliza Soroga | Emma Geraghty | Gameshow | Greg Saxton | Jamal Gerald | Johanna Bolton | Jon Coleman | Katy Dye & Craig Manson | Krissi Musiol | Laura Napier | M. Valcarcel-Saez | Matrafisc Dance | Matt & Nath | Paula Davy & Gilda Lockheart | Peter Jacobs | Rampant | Tom Estes | TukaWach | Vijay Patel | Virginia Scudeletti & Nicholas Figgis | Zoe Toolan"
    -   date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2017-autumnwinter'>Back to Performance Programme A/W 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
