---
layout: base

season: "Performance Programme Autumn/Winter 2017"
bodyclass: aw2017
sectionroot: 'current/2017-autumnwinter'

events:
    -   date: "Please note all events are Pay What You Decide"
    -   label: "Alba"
        date: "Wed 27 Sep, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: bannon, name: "Jo Bannon"}
    -   label: "Emergency 2017"
        date: "Sat 30 Sep, 12noon-10pm. PWYD"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2017-emergency'>A day out for the curious, featuring</a>:<br>Alex Billingham | Becoming Storybook | Ben Mills & Lydia Cottrell | Briggsy & Hawk Dance Theatre | Casey Birks | Dan Craddock & Sophie Unwin | Eliza Soroga | Emma Geraghty | Gameshow | Greg Saxton | Jamal Gerald | Johanna Bolton | Jon Coleman | Katy Dye & Craig Manson | Krissi Musiol | Laura Napier | M. Valcarcel-Saez | Matrafisc Dance | Matt & Nath | Paula Davy & Gilda Lockheart | Peter Jacobs | Rampant | Tom Estes | TukaWach | Vijay Patel | Virginia Scudeletti & Nicholas Figgis | Zoe Toolan<br><i>Participating artists subject to change.</i>"
    -   label: "Windows of Displacement"
        date: "Thu 19 Oct, 7.30pm. PWYD"
        venue: "| STUN Studio"
        artists:
            - {folder: buck, name: "Akeim Toussaint Buck"}
    -   label: "Declining Solo"
        date: "Wed 8 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: 2destlang, name: "Two Destination Language"}
    -   label: "Rent Party: D<span style='text-transform:lowercase'>omestic</span> E<span style='text-transform:lowercase'>dition</span>"
        date: "10+11 Nov, 8pm. PWYD"
        venue: "| Adelphi Court, M3"
        artists:
            - {folder: pritchard, name: "Darren Pritchard Dance"}

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
