---
layout: base

season: "Turn 2017"
bodyclass: t2017
sectionroot: 'current/2017-turn'

events:
    -   date: "Fri 28 Apr, 7.30pm. £9/5 | Contact"
    -   artists:
            - name: "Ane Iselin Brogeland | Born + Bred Dance Theatre | Coalesce Dance | Giorgio de Carolis | Grace Surman + Clare Dearnaley | Jo Cork | Kapow Dance | Matrafisc Dance | Meraki Collective | Peter Groom Dance Theatre | Rebekka Platt | The inFamous Five<br>(Akeim Toussaint Buck no longer appears.)"
    -   date: "Participating artists subject to change."    
    -   label: "<a href='/galleries/2017-turnpre'>ARTIST IMAGES</a> | <a href='/current/2017-turn/programme'>PROGRAMME</a>"    
    -   rawhtmlinstead: "<a href='/current/2017-springsummer'>Back to Performance Programme Spring/Summer 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
