---
layout: base

season: "Emergency 2017"
bodyclass: e2017
sectionroot: 'current/2017-emergency'

events:
    -   date: "Sat 30 Sep, 12noon-10pm. PWYD | Z-arts"
    -   date: "Participating artists tba from 19 Sep."
    -   rawhtmlinstead: "<a href='/current/2017-autumnwinter'>Back to Performance Programme A/W 2017</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
