---
layout: base

season: "Emergency 2018"
bodyclass: e2018
sectionroot: 'current/2018-emergency'

events:
    -   date: "Sat 6 Oct. Pay What You Decide | Z-arts (incl. STUN Studio)"
    -   artists:
            - name: "LUNCHTIME: 12noon-2.30pm<br>Alexandrina Hemsley | Alicia Jane Turner | BOXD Theatre | Camilla Canocchi | Demelza Toy Toy | Megan Rudden | Paper People Theatre | Penelope Harrall | Peter Jacobs | Proud & Loud Arts | Rachel Gomme"}
            - name: "AFTERNOON: 2.30pm-5.30pm<br>Chanje Kunda | Emma Geraghty | Frances Kay | Lise Boucon | Luca Federici | Mark Croasdale | Rosie Gibbens | Tom Halls | Yani B"}
            - name: "EVENING: 5.30pm-10pm<br>Aidan Strudwick | Avital Raz | Dead Good Theatre | idontloveyouanymore | Katt Perry | Magda Tuka + Opeaen | Miss Englatina | Natalie Wardle | Tom Cassani | Two Blue Ticks"}
    -   date: "Participating artists subject to change."
    -   rawhtmlinstead: "<a href='/current/2018-autumnwinter'>Back to Performance Programme A/W 2018</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
