---
layout: base

season: "Works Ahead 2018"
bodyclass: woah
sectionroot: 'archive/2018-worksahead'

events:
    -   label: "Works Ahead 2018"
        date: "Thu 17 May, 7.30pm (Fri 18 May sold-out). £7/4"
        venue: "| STUN Studio at Z-arts"
        artists:
            - name: "<a href='/archive/2018-worksahead/geraghty'>Emma Geraghty</a> + <a href='/archive/2018-worksahead/patel'>Vijay Patel</a> (double bill)"
    -   rawhtmlinstead: "<a href='/archive/2018-springsummer'>Back to Performance Programme Spring/Summer 2018</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
