---
layout: base

season: "Performance Programme Autumn/Winter 2018"
bodyclass: aw2018
sectionroot: 'current/2018-autumnwinter'

events:
    -   date: "Please note all events are Pay What You Decide"    
    -   label: "Emergency 2018"
        date: "Sat 6 Oct, 12noon-10pm. PWYD"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2018-emergency'>A day out for the curious</a>, with participating artists announced mid-September."
    -   label: "One Last Dance — An Chéad Damhsa"
        date: "Wed 10 Oct, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: marcalo, name: "Rita Marcalo (Instant Dissidence)<br>with guest Leentje Van de Cruys"}    
    -   label: "The Comforter"
        date: "Wed 21 Nov, 7pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: makishi, name: "Stacy Makishi"}
    
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
