---
layout: base

season: "Hazard 2018"
bodyclass: h2018
sectionroot: 'current/2018-hazard'

events:
    -   label: "Hazard 2018"
        date: "Sat Jul. FREE"
        venue: "| St Ann's Square"
        artists:
            - name: "Participating artists to be announced."
    -   rawhtmlinstead: "<a href='/current/2018-springsummer'>Back to Performance Programme Spring/Summer 2018</a>"    
    
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
