---

layout: base

season: "Works Ahead 2018"
bodyclass: woah
sectionroot: 'current/2018-worksahead'

events:
    -   label: "Works Ahead 2018"
        date: "Thu 17 + Fri 18 May, tickets on sale in March."
        venue: "| STUN Studio at Z-arts"
        artists:
            - name: "Participating artists to be announced."
    -   rawhtmlinstead: "<a href='/current/2018-springsummer'>Back to Performance Programme Spring/Summer 2018</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
