---
layout: base

season: "Emergency 2018"
bodyclass: e2018
sectionroot: 'current/2018-emergency'

events:
    -   date: "Sat 6 Oct, 12noon-10pm. PWYD | Z-arts"
    -   label: "A day out for the curious, with participating artists announced mid-September."
    -   rawhtmlinstead: "<a href='/current/2018-autumnwinter'>Back to Performance Programme A/W 2018</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
