---
layout: base

season: "Performance Programme Autumn/Winter 2019"
bodyclass: aw2019
sectionroot: 'current/2019-autumnwinter'

events:
    -   label: "Emergency 2019"
        date: "Sat 27 Apr. PWYD"
        venue: "| NIAMOS + Z-arts"
        artists:
            - name: "<a href='/current/2019-emergency'>A day out for the curious</a>, with artists tba."
    -   label: "Tetra-Decathlon"
        date: "Wed 2 Oct, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: hendry, name: "Lauren Hendry, directed by Jenna Watt"}    
    -   label: "I Promise You That Tonight"
        date: "Wed 6 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: cassani, name: "Tom Cassani"}
    -   date: "(PWYD indicates you Pay What You Decide.)"   
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
