---
layout: base

season: "Haphazard 2019"
bodyclass: hh2019
sectionroot: 'current/2019-haphazard'

events:
    -   date: "Sat 27 Apr, from 12noon. PWYD | Z-arts"
    -   artists:
            - name: "A day out for the curious of all ages."
    -   date: "Participating artists to be announced."
    -   rawhtmlinstead: "<a href='/current/2019-springsummer'>Back to Performance Programme S/S 2019</a>"
---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
