---
layout: base

season: "Performance Programme Spring/Summer 2019"
bodyclass: ss2019
sectionroot: 'current/2019-springsummer'

events:
    -   label: "Title tbc"
        date: "February tbc"
        venue: "| NIAMOS or STUN Studio"
        artists:
            - {folder: 100, name: "Artist tbc"}        
    -   label: "Baby Face"
        date: "Wed 20 Mar, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: dye, name: "Katy Dye"}    
    -   label: "Haphazard 2019"
        date: "Sat 27 Apr, 12noon-3pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2019-haphazard'>A free day out for the curious of all ages</a>."
    -   label: "Works Ahead 2019"
        date: "Thu 16 + Fri 17 May. Time + price tbc"
        venue: "| STUN Studio"
        artists:
            - name: "<a href='/current/2019-worksahead'>A sample of new performance</a>."
    -   label: "The Forecast"
        date: "Wed 29 May, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: bell, name: "Amy Bell"}
    -   date: "(PWYD indicates you Pay What You Decide.)"   
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
