---
layout: base

season: "Performance Programme Autumn/Winter 2019"
bodyclass: e2019
sectionroot: 'current/2019-autumnwinter'

events:
    -   label: "Emergency 2019"
        date: "Sat 27 Apr, 12noon-10pm. PWYD"
        venue: "| Hulme"
        artists:
            - name: "<a href='/current/2019-emergency'>A day out for the curious with artists to be announced.</a>"
            - name: "<i>Daytime: 12noon-5pm | NIAMOS</i>"
            - name: "<i>Evening: 5pm-10pm | STUN Studio + Z-arts</i>"
    -   label: "Tetra-Decathlon"
        date: "Wed 2 Oct, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: hendry, name: "Lauren Hendry, directed by Jenna Watt"}    
    -   label: "Acephalous Monster"
        date: "Wed 23 Oct, 8pm. Pick your price: £5/10/15"
        venue: "| NIAMOS"
        artists:
            - {folder: athey, name: "Ron Athey"}        
    -   label: "I Promise You That Tonight"
        date: "Wed 6 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: cassani, name: "Tom Cassani"}
    -   date: "(PWYD indicates you Pay What You Decide)"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
