---
layout: base

season: "Performance Programme Autumn/Winter 2019"
bodyclass: e2019
sectionroot: 'current/2019-autumnwinter'

events:
    -   label: "Emergency 2019"
        date: "Sat 21 Sep, 12noon-10pm. PWYD"
        venue: "| Hulme"
        artists:
            - name: "<a href='/current/2019-emergency'>A day out for the curious</a>."
            - name: "<i>DAYTIME: 12noon-4.30pm | NIAMOS</i><br>Alex Bradley | Bill Duffy | Charlotte McShane | Emergency Chorus | Gillian Knox | Holly Spillar | Jade Williams | Janet Charlesworth | Kellie Colbert | Kelvin Atmadibrata | Kris Canavan | Maya Chowdhry | Peter Jacobs | Pierce Starre | rahtattoo | Ross Graham | Shkiesha | Tamar + Jo | Thomas Mayer | TomYumSim | Will Dickie"
            - name: "<i>EVENING: 5pm-10pm | STUN Studio + Z-arts</i><br>Adam John Roberts | Anna West + Louise Cross | Callum Berridge | Helen Sulis Bowie | Jazmine Webb | Katy Dye + Craig Manson | Lara Buffard + Gur Arie Piepskovitz | Rebekka Platt | Ross McCaffrey | Shahireh Sharif | Tania Camara | The Strange Names Collective | Vendetta Vain"
            - name: "<i>Participating artists subject to change.</i>"    
    -   label: "Tetra-Decathlon"
        date: "Wed 2 Oct, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: hendry, name: "Lauren Hendry (dir. Jenna Watt)"}    
    -   label: "Acephalous Monster"
        date: "Wed 23 Oct, 7.30pm (doors 7pm). £5/10/15"
        venue: "| NIAMOS"
        artists:
            - {folder: athey, name: "Ron Athey"}        
    -   label: "I Promise You That Tonight"
        date: "Wed 6 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: cassani, name: "Tom Cassani"}
    -   date: "(PWYD indicates you Pay What You Decide)"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
