---
layout: base

season: "Works Ahead 2019"
bodyclass: woah19
sectionroot: 'current/2019-worksahead'

events:
    -   date: "Thu 16 + Fri 17 May, 7.30pm. Pay What You Decide"
        venue: "| STUN Studio at Z-arts"
        artists:
            - name: "A sample of of new performance from:<br>Mark Croasdale + Avital Raz (double bill)"
    -   rawhtmlinstead: "<a href='/current/2019-springsummer'>Back to Performance Programme S/S 2019</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
