---
layout: base

season: "Works Ahead 2019"
bodyclass: woah
sectionroot: 'current/2019-worksahead'

events:
    -   date: "Thu 16 + Fri 17 May. Time + price tbc"
        venue: "| STUN Studio"
        artists:
            - name: "A sample of new performance."
    -   date: "Participating artists to be announced."
    -   rawhtmlinstead: "<a href='/current/2019-springsummer'>Back to Performance Programme S/S 2019</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
			    {{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
