---
layout: base

season: "Performance Programme Spring/Summer 2019"
bodyclass: ss2019
sectionroot: 'current/2019-springsummer'

events:
    -   label: "We are one hundred"
        date: "Some time in February"
        venue: "| Somewhere"
        artists:
            - {folder: 100, name: "we'll have a party"}        
    -   label: "Baby Face"
        date: "Wed 20 Mar, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: dye, name: "Katy Dye"}    
    -   label: "Haphazard 2019"
        date: "Sat 27 Apr, 12noon-3pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2019-haphazard'>A free day out for the curious of all ages</a>."
    -   label: "The Forecast"
        date: "Wed 29 May, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: bell, name: "Amy Bell"}
    -   date: "PWYD indicates you Pay What You Decide"   
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
