---
layout: base

season: "Performance Programme Autumn/Winter 2019"
bodyclass: aw2019
sectionroot: ''

events:
    -   label: "Emergency 2019"
        date: "Sat 21 Sep, 12noon-10pm. PWYD"
        venue: "| Hulme"
        artists:
            - name: "A day out for the curious with artists TBA."
            - name: "<i>Daytime: 12noon-4.30pm | NIAMOS</i>"
            - name: "<i>Evening: 5pm-10pm | STUN Studio + Z-arts</i>"
    -   label: "Tetra-Decathlon"
        date: "Wed 2 Oct, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "Lauren Hendry, directed by Jenna Watt"    
    -   label: "Acephalous Monster"
        date: "Wed 23 Oct, 7.30pm (doors 7pm). £5/10/15"
        venue: "| NIAMOS"
        artists:
            - name: "Ron Athey"        
    -   label: "I Promise You That Tonight"
        date: "Wed 6 Nov, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "Tom Cassani"
    -   date: "(PWYD indicates you Pay What You Decide)"
---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
