---
layout: base

season: "Performance Programme Summer 2020"
bodyclass: sum2020
sectionroot: '2020/summer'

events:
    -   label: "Domestic"
        date: "Wed 1 July, 8.30pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/2020/domestic/july'>TBA</a><br><i>Participating artists subject to change.</i>"    
    -   label: "Domestic"
        date: "Wed 5 Aug, 8.30pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/2020/domestic/august'>TBA</a><br><i>Participating artists subject to change.</i>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
