---
layout: base

season: "Performance Programme Autumn/Winter 2020"
bodyclass: aw2020
sectionroot: 'current/2020-autumnwinter'

events:
    -   label: "Botanic"
        date: "Sun 27 Sep, 12noon-4pm. Free"
        venue: "| Hulme Community Garden Centre"
        artists:
            - {folder: botanic, name: "A walk in the garden, with:<br>Christian Asare | Chanje Kunda | Jade Williams | Jamil Keating | Maya Chowdhry | Shkeisha<br><i>Participating artists subject to change.</i>"}
    -   label: "Domestic"
        date: "Wed 7 Oct, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2020-domestic'>New work, live from home.<br><i>Participating artists to be announced.</i></a>"
    -   label: "Emergency" 
        date: "Sat 21 Nov, 12noon-6pm. Donations welcome"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2020-emergency'>A day out for the curious.<br><i>Participating artists to be announced.</i></a>"    
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
