---
layout: base

season: "Performance Programme Spring 2020"
bodyclass: s2020
sectionroot: 'current/2020-springsummer'

events:
    -   label: "Sex Education"
        date: "Wed 12 Feb, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: clayton-wright, name: "Harry Clayton-Wright"}    
    -   label: "Emergency StopGap"
        date: "Thu 27 Feb, 6pm-10pm. PWYD"
        venue: "| NIAMOS"
        artists:
            - name: "<a href='/current/2020-emergencystopgap'>A night out for the curious</a>, with:<br>Bethany Mountain | Chris Owen | Kris Canavan | Krissi Musiol | Martin Hamblen | Natalie Wardle | Oliver Ford | Philip Bedwell | Powder Keg | Shkiesha | Susanna Amato | Tink Flaherty | TomYumSim<br><i>Participating artists subject to change.</i>"    
    -   label: "<strike>Idol</strike> (CANCELLED)"
        date: "Thu 19 — Sat 21 Mar, 7.30pm. £13/11/7"
        venue: "| Royal Exchange Theatre"
        artists:
            - {folder: gerald, name: "Jamal Gerald"}        
    -   label: "<strike>We Are Fucked</strike> (CANCELLED)"
        date: "Wed 1 Apr, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - {folder: bannon, name: "Jo Bannon"}
    -   label: "OREO: <span style='text-transform:lowercase'>variations</span> (rescheduled)"
        date: "Fri 1 May, 7pm"
        venue: "| <a href='http://facebook.com/warnmcr' target='_blank'>Facebook</a>, <a href='http://twitter.com/warnmcr' target='_blank'>Twitter</a>, <a href='http://www.youtube.com/channel/UCcAnSRD_qFdRdJ39gVEyFcg' target='_blank'>YouTube</a>"
        artists:
            - {folder: camara, name: "Tania Camara"}        
    -   label: "Works Ahead 2020"
        date: "Thu 21 + Fri 22 May"
        venue: "| Details tbc"
        artists:
            - name: "<a href='/current/2020-worksahead'>A double bill</a> from Will Dickie + Ross McCaffrey"
    -   date: "(PWYD indicates you Pay What You Decide)"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
