---
layout: base

season: "Performance Programme Autumn/Winter 2020"
bodyclass: e2020
sectionroot: 'current/2020-autumnwinter'

events:
    -   label: "Botanic"
        date: "Sun 27 Sep, 12-4pm. Free"
        venue: "| Hulme Com. Garden Centre"
        artists:
            - name: "<a href='/current/2020-autumnwinter/botanic'>A walk in the garden.</a><br>Chanje Kunda | Christian Asare | Jade Williams | Jamil Keating | Maya Chowdhry | Shkiesha"            
    -   label: "Domestic"
        date: "Wed 7 Oct, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2020-domestic'>New work, live from home.</a><br>Ali Wilson | Elly Rutherford & Fanis Sakellariou | Helena Ascough | Jane Munro | Madame Zucchini | Maryam Hashemi | Pinchbeck & Smith | Victoria Firth | hosted by Peader Kirk"
    -   label: "Emergency" 
        date: "Sat 21 Nov, 12-5pm. Free"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2020-emergency'>A journey for the curious.</a><br><i>Participating artists to be announced.</i>"    
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
