---
layout: base

season: "Performance Programme Summer 2020"
bodyclass: sum2020
sectionroot: 'current/2020-summer'

events:
    -   label: "Domestic"
        date: "Wed 1 July, 8.30pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2020-domestic'>Afreena Islam | Alex Bradley | Cheryl Martin | Emma Geraghty | Levantes Dance Theatre | Nathan Birkinshaw | hosted by Peader Kirk</a><br>(participating artists subject to change)"    
    -   date: "Future Domestic events to be announced."    
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
