---
layout: base

season: "Performance Programme Spring/Summer 2020"
bodyclass: ss2020
sectionroot: 'current/2020-springsummer'

events:
    -   label: "Oreo"
        date: "Thu 23 + Fri 24 Apr, 7.30pm. £7/4"
        venue: "| STUN at Z-arts"
        artists:
            - {folder: camara, name: "Tania Camara"}        
    -   label: "Works Ahead 2020"
        date: "Thu 21 + Fri 22 May, 7.30pm. PWYD"
        venue: "| NIAMOS"
        artists:
            - name: "<a href='/current/2020-worksahead'>A double bill</a> from Will Dickie + Ross McCaffrey"
    -   label: "Hazard 2020"
        date: "July (date TBC)."
        venue: "| Manchester City Centre"
        artists:
            - name: "<i>Artists to be announced</i>."
    -   date: "(PWYD indicates you Pay What You Decide)"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
