---
layout: base

season: "Domestic 2020 series"
bodyclass: dom
sectionroot: 'archive/2020-domestic'

events:
    -   label: "Domestic"
        date: "Wed 1 July, 8.30pm. Donations welcome"
        venue: "| Online"
        artists:
            - {folder: july, name: "Afreena Islam | Alex Bradley | Cheryl Martin | Emma Geraghty | Levantes Dance Theatre | Nathan Birkinshaw | hosted by Peader Kirk</a>"}
    -   label: "Domestic"
        date: "Wed 12 Aug, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - {folder: august, name: "Andrew Neil Hayes | Daniel & Clara | Dominique Savitri | Kellie Colbert | melissandre varin | Niya B | Sebastian H-W | hosted by Peader Kirk</a>"}
    -   label: "Domestic"
        date: "Wed 7 Oct, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - {folder: october, name: "Ali Wilson | Elly Rutherford & Fanis Sakellariou | Helena Ascough | Jane Munro | Madame Zucchini | Maryam Hashemi | Pinchbeck & Smith | Victoria Firth | hosted by Peader Kirk"}

---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
