---
layout: base

season: "Performance Programme Summer 2020"
bodyclass: ss2020
sectionroot: 'current/2020-springsummer'

events:
    -   label: "W<span style='text-transform:lowercase'>orks</span> A<span style='text-transform:lowercase'>head</span> 2020 — White Sun"
        date: "Fri 22 May, 9pm. Donations Welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2020-worksahead'>Will Dickie</a>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
