---
layout: base

season: "Performance Programme Autumn/Winter 2021"
bodyclass: e2021
sectionroot: 'archive/2021-autumnwinter'

events:
    -   label: "Emergency 21"
        date: "Sat 25 Sep, 12noon-4pm entry. Free"
        venue: "| Contact"
        artists:
            - name: "<a href='/archive/2021-emergency'>A journey for the curious.</a><br>Ayzmar | Helena Ascough | Kellie Colbert & Deborah Newton | Kelvin Atmadibrata | Lydia Cottrell | Maryam Hashemi | Miray Sidhom | Mitzee | Sebastian H-W | Simon Carroll-Jones & Wayne Steven Jackson"
    -   label: "Oreo"
        date: "Fri 15 Oct, 7.30pm. PWYD"
        venue: "| STUN Studio"
        artists:
            - name: "<a href='/archive/2021-autumnwinter/oreo'>Tania Camara</a>"
    -   label: "Concord"
        date: "Fri 22 Oct, 7pm. Free"
        venue: "| Holden Gallery"
        artists:
            - name: "<a href='/archive/2021-autumnwinter/abulhawa'>Dani Abulhawa</a>"
    -   label: "Manchester Independents"
        date: "Ongoing"
        venue: "| Various Venues + Online"
        artists:
            - name: "<a href='http://manchesterindependents.co.uk' target='_blank'>Spotlighting Greater Manchester artists.</a>"
    -   label: "Domesticated"
        date: "Ongoing"
        venue: "| Online"
        artists:
            - name: "<a href='http://domesticatedonline.org' target='_blank'>A home for video performance.</a><br>Beth Clayton | Freddie Watkins | Heather Bandenburg | Kellie Colbert & Deborah Newton | Mahboobeh Rajabi | Nicholas Tee | Oliver Ford | Sandra Bouguerch"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
