---
layout: base

season: "Performance Programme Spring 2021"
bodyclass: s2021
sectionroot: 'current/2021-springsummer'

events:
    -   label: "Domestic"
        date: "Wed 13 Jan, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic'>New work, live from home.</a><br>Avital Raz | Loïs Soleil | Lydia Cottrell | Miray Sidhom | Mitzee (DEAD PIG) | Voidance Company | hosted by Peader Kirk<br><i>Participating artists subject to change.</i>"
    -   label: "Emergency" 
        date: "To be confirmed."
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2021-emergency'>A journey for the curious.</a><br>Ayzmar | Dan Sanders | Ghost and John | Kellie Colbert & Deborah Newton | Kelvin Atmadibrata | Lydia Cottrell | Maryam Hashemi | Miray Sidhom | Mitzee (DEAD PIG) | Rowena Gander | Sebastian H-W | Simon Carroll-Jones & Wayne Steven Jackson | Tom Ryalls<br><i>Participating artists subject to change.</i>"    
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
