---
layout: base

season: "Performance Programme 2021"
bodyclass: e2021
sectionroot: 'current/2021'

events:
    -   label: "Emergency 21"
        date: "Sat 25 Sep, 12noon-4pm entry. Free"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2021-emergency'>A journey for the curious.</a><br>Ayzmar | Helena Ascough | Kellie Colbert & Deborah Newton | Kelvin Atmadibrata | Lydia Cottrell | Maryam Hashemi | Miray Sidhom | Mitzee | Rowena Gander | Sebastian H-W | Simon Carroll-Jones & Wayne Steven Jackson<br><i>Participating artists subject to change.</i>"
    -   label: "Oreo"
        date: "Fri 15 Oct, 7.30pm. Pay What You Decide"
        venue: "| STUN Studio at Z-arts"
        artists:
            - name: "<a href='/current/2021/oreo'>Tania Camara</a>"             
    -   label: "Concord"
        date: "Fri 22 Oct, 7pm. Free"
        venue: "| Holden Gallery"
        artists:
            - name: "<a href='/current/2021/abulhawa'>Dani Abulhawa</a>"         
    -   label: "Manchester Independents"
        date: "Ongoing to 31 Oct"
        venue: "| Various Venues + Online"
        artists:
            - name: "<a href='http://manchesterindependents.co.uk' target='_blank'>Spotlighting Greater Manchester artists.</a>"
    -   label: "Domesticated"
        date: "Ongoing to 31 Dec. Free"
        venue: "| Online"
        artists:
            - name: "<a href='http://domesticatedonline.org' target='_blank'>A home for video performance.</a><br>Beth Clayton | Freddie Watkins | Heather Bandenburg | Kellie Colbert & Deborah Newton | Mahboobeh Rajabi | Nicholas Tee | Oliver Ford | Sandra Bouguerch"
    -   label: "<hr><em>Earlier in 2021</em>"
    -   label: "Domestic"
        date: "Wed 13 Jan, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/january'>New work, live from home.</a> (<a href='http://youtu.be/VsDRVALM2Ao' target='_blank'>watch again</a>)<br>Alice Connolly | Avital Raz | Loïs Soleil | Lydia Cottrell | Miray Sidhom | Mitzee | Voidance Company | hosted by Peader Kirk"
    -   label: "Domestic"
        date: "Wed 10 Mar, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/march'>New work, live from home.</a><br>Eleanor May Blackburn | Pelican Theatre | Tom Cassani | TomYumSim | Vân Bùi | hosted by Peader Kirk"
    -   label: "Oreo Prelude"
        date: "Wed 26 May, 7pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021/camara'>Tania Camara</a> (<a href='http://youtu.be/PKaG9wBpNHw' target='_blank'>watch again</a>)"         
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
