---
layout: base

season: "Performance Programme Spring 2021"
bodyclass: spr2021
sectionroot: 'current/2021-springsummer'

events:
    -   label: "Domestic"
        date: "Wed 13 Jan, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/january'>New work, live from home.</a><br>Alice Connolly | Avital Raz | Loïs Soleil | Lydia Cottrell | Miray Sidhom | Mitzee | Voidance Company | hosted by Peader Kirk"
    -   label: "Domestic"
        date: "Wed 10 Mar, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/march'>New work, live from home.</a><br>Eleanor May Blackburn | Pelican Theatre | Tom Cassani | TomYumSim | Vân Bùi | hosted by Peader Kirk"
    -   label: "Domestic"
        date: "early May. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic'>New work, live from home.</a><br>Artists to be confirmed | hosted by Peader Kirk"
    -   label: "Domesticated"
        date: "Ongoing"
        venue: "| Online"
        artists:
            - name: "<a href='http://domesticatedonline.org' target='_blank'>A home for video performance.</a><br>Beth Clayton | Freddie Watkins | Heather Bandenburg | Kellie Colbert & Deborah Newton | Mahboobeh Rajabi | Nicholas Tee | Oliver Ford | Sandra Bouguerch"
    -   label: "21st Emergency"
        date: "Date to be confirmed"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2021-emergency'>A journey for the curious.</a><br>Ayzmar | Dan Sanders | Ghost and John | Kellie Colbert & Deborah Newton | Kelvin Atmadibrata | Lydia Cottrell | Maryam Hashemi | Miray Sidhom | Mitzee | Rowena Gander | Sebastian H-W | Simon Carroll-Jones & Wayne Steven Jackson | Tom Ryalls<br><i>Participating artists subject to change.</i>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
