---
layout: base

season: "Performance Programme 21"
bodyclass: aw2021
sectionroot: 'current/2021'

events:
    -   label: "Emergency 21"
        date: "Sat 25 Sep, 12noon-4pm (entry). Free"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2021-emergency'>A journey for the curious.</a><br>Ayzmar | Helena Ascough | Kellie Colbert & Deborah Newton | Kelvin Atmadibrata | Lydia Cottrell | Maryam Hashemi | Miray Sidhom | Mitzee | Rowena Gander | Sebastian H-W | Simon Carroll-Jones & Wayne Steven Jackson<br><i>Participating artists subject to change.</i>"
    -   label: "Domesticated"
        date: "Ongoing. Free"
        venue: "| Online"
        artists:
            - name: "<a href='http://domesticatedonline.org' target='_blank'>A home for video performance.</a><br>Beth Clayton | Freddie Watkins | Heather Bandenburg | Kellie Colbert & Deborah Newton | Mahboobeh Rajabi | Nicholas Tee | Oliver Ford | Sandra Bouguerch"
    -   date: "PREVIOUSLY…"
    -   label: "Domestic"
        date: "Wed 13 Jan, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/january'>New work, live from home.</a><br>Alice Connolly | Avital Raz | Loïs Soleil | Lydia Cottrell | Miray Sidhom | Mitzee | Voidance Company | hosted by Peader Kirk"
    -   label: "Domestic"
        date: "Wed 10 Mar, 8pm. Donations welcome"
        venue: "| Online"
        artists:
            - name: "<a href='/current/2021-domestic/march'>New work, live from home.</a><br>Eleanor May Blackburn | Pelican Theatre | Tom Cassani | TomYumSim | Vân Bùi | hosted by Peader Kirk"
    -   label: "Oreo Prelude"
        date: "Wed 26 May, 7pm. Donations welcome"
        venue: "| Online"
        artists:
            - {folder: camara, name: "Tania Camara"}
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
