---
layout: base

season: "Performance Programme 2022"
bodyclass: p2022
sectionroot: 'archive/2022'

events:
    -   label: "Dead Cats"
        date: "Wed 4 May, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "<a href='/archive/2022/proto-type'>Proto-type Theater & Adam York Gregory</a>"
    -   label: "Works Ahead 2022"
        date: "Thu 26 + Fri 27 May, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/archive/2022-worksahead'>A sample of new performance.</a><br>Helena Ascough | Ross McCaffrey | Will Dickie"
    -   label: "Gambit"
        date: "Sat 20 Aug, Noon-4pm. Free"
        venue: "| St Ann's Square"
        artists:
            - name: "<a href='/archive/2022/gambit'>Proud & Loud Arts</a>"    
    -   label: "Emergency 22"
        date: "Sat 1 Oct, Noon-10pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/archive/2022-emergency'>A day out for the curious.</a><br>Bitterroot | Bold Mellon Collective | Charlotte McShane | Christian Asare | Clodagh Chapman & James Varney | DNA Studio | Emergency Chorus | Hazel Lam | Jian Yi | Josh Coates & Alicia Jane Turner | Julie Burrow | kane stonestreet | Kellie Colbert | Kerensa Diball | leon clowes | Malandra Jacks Creative | Maya Chowdhry | Nathan Walker | Nicky Murmann | Ran | Sweætshops<sup><small>®</small></sup> | Tania Camara | Ursula Troche"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
