---
layout: base

season: "Performance Programme 2023"
bodyclass: p2023
sectionroot: 'current/2023'

events:
    -   label: "Turn 2023"
        date: "Fri 10 Mar, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2023-turn'>A night of new dance.</a><br>Christian Asare | Jack Evans | Lizzy Owen | Maisha Kungu Dance | Matrafisc Dance Company | Matter of Fact | Orla Collier | taciturn | Zara Jane<br>(James Hewison & Co. no longer appear.)"
    -   label: "Unnatural Cycles<br>— A Ghost Story"
        date: "Wed 3 May, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "<a href='/current/2023/raz'>Avital Raz</a>"
    -   label: "Works Ahead 2023"
        date: "Thu 18 + Fri 19 May, 7.30pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2023-worksahead'>A sample of new performance.</a><br>Christian Asare | Jade Williams | Kellie Colbert"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
