---
layout: base

season: "Performance Programme 2023"
bodyclass: w2022
sectionroot: 'current/2023'

events:
    -   label: "Turn 2023"
        date: "Fri 10 Mar, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2023-turn'>A night of new dance.</a><br><small><i>Participating artists tba.</i></small>"    
    -   label: "Works Ahead 2023"
        date: "Thu 18 + Fri 19 May. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2023-worksahead'>A sample of new performance.</a><br><small><i>Participating artists tba.</i></small>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
