---
layout: base

season: "2024"
bodyclass: h2024
sectionroot: 'current/2024'

events:
    -   label: "Turn 2024"
        date: "Fri 22 Mar, 7.30pm. PWYD"
        venue: "| Company Chameleon Studios"
        artists:
            - name: "<a href='/current/2024-turn'>A night of new NW dance.</a><br>chris&nbsp;brown&nbsp;| Fabíola&nbsp;Santana&nbsp;| Isaac&nbsp;Glenister&nbsp;| Jake&nbsp;Evans&nbsp;| Just_Ina&nbsp;| Lily&nbsp;Antonia&nbsp;| Lisa&nbsp;Chearles&nbsp;| Louiseanne&nbsp;Wong"
    -   label: "HIGH STEAKS"
        date: "Sat 27 Apr, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "<a href='/current/2024/ELOINA'>ELOINA</a>"
    -   label: "Works Ahead: Radiator"
        date: "Fri 24 May, 5pm-7pm. FREE"
        venue: "| MMU Grosvenor East"
        artists:
            - name: "<a href='/current/2024-worksahead'>A sharing of Live Art.</a><br>Ash&nbsp;Cox&nbsp;| chris&nbsp;brown&nbsp;| E.M.&nbsp;Parry&nbsp;| Heather&nbsp;Alice&nbsp;| ITZATNA&nbsp;| Jamil&nbsp;Keating&nbsp;| Kelvin&nbsp;Atmadibrata&nbsp;| Lauren&nbsp;Greer<br>(<i>Participating artists subject to change.</i>)"
    -   label: "Haphazard 2024"
        date: "Sat 27 Jul, 1pm-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2024-haphazard'>An afternoon for the curious of all ages.</a><br>(<i>Participating artists to be announced.</i>)"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
