---
layout: base

season: "Up Next…"
bodyclass: p2024
sectionroot: 'current/2024'

events:
    -   label: "Turn 2024"
        date: "Fri 22 Mar, 7.30pm. PWYD"
        venue: "| Company Chameleon Studios"
        artists:
            - name: "<a href='/current/2024-turn'>A night of new dance.</a><br><i>Participating artists to be announced.</i>"
    -   label: "HIGH STEAKS"
        date: "Sat 27 Apr, 8pm. PWYD"
        venue: "| The Lowry"
        artists:
            - name: "<a href='/current/2024/ELOINA'>ELOINA</a>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
