---
layout: base

season: "2025"
bodyclass: t2025
sectionroot: 'current/2025'

events:
    -   label: "Emergency 25"
        date: "Sat 27 Sep, Noon-10pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025-emergency'>A day out for the curious.</a><br><i>Afternoon, Noon-4pm.</i><br>ClusterFlux&nbsp;Collective&nbsp;| Dongting&nbsp;Huang&nbsp;| Faye&nbsp;Yan&nbsp;| GOWD&nbsp;| Kris&nbsp;Canavan&nbsp;| Leon&nbsp;Clowes&nbsp;| Lisa&nbsp;Ford&nbsp;| Luca&nbsp;Federici&nbsp;| Luke&nbsp;McDonnell&nbsp;| Madeleina&nbsp;Kay&nbsp;| Miss&nbsp;Freda&nbsp;Wallace&nbsp;| The&nbsp;Paula&nbsp;Davy<br><i>Evening, 4pm-10pm.</i><br>Action&nbsp;Hero&nbsp;| Burt&nbsp;Turdgirth&nbsp;&&nbsp;special&nbsp;guests&nbsp;| Elana&nbsp;Binysh&nbsp;| Kellie&nbsp;Colbert&nbsp;&&nbsp;Deborah&nbsp;Newton&nbsp;| Mole&nbsp;Wetherell&nbsp;&&nbsp;UoS&nbsp;Performance&nbsp;| n:u&nbsp;(melissandre&nbsp;varin)&nbsp;| Nathan&nbsp;Birkinshaw&nbsp;| Rachael&nbsp;Gooch&nbsp;| Riley&nbsp;Hamshaw-Mills&nbsp;| Rosie&nbsp;Hart&nbsp;&&nbsp;Poppy&nbsp;Waxman&nbsp;| Tom&nbsp;Cassani<br>(<i>Alexis Maxwell unable to perform.</i>)"
    -   label: "Mathroo Basha"
        date: "Wed 12 Nov, 8pm. PWYD"
        venue: "| Lowry"
        artists:
            - name: "<a href='/current/2025/patel'>Hetain Patel</a>"
    -   label: "Census"
        date: "Thu 20 – Sat 22 Nov, various times."
        venue: "| HOME"
        artists:
            - name: "<a href='/current/2025/malandrajacks'>Malandra Jacks</a>"    
    -   label: "Social Experiment"
        date: "Thu 27 Nov, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A new gathering for Live Art and performance.</a>"
    -   date: "(PWYD are Pay What You Decide events)"    
    -   label: "<hr>"
    -   label: "E<span style='text-transform:lowercase'>arlier</span> E<span style='text-transform:lowercase'>vents</span>…"
    -   label: "Social Experiment"
        date: "Thu 6 Feb, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/feb2025'>A new gathering for Live Art and performance.</a><br>Harley&nbsp;Keasey&nbsp;| J.&nbsp;Edgar&nbsp;Staubsauger&nbsp;| Rachael&nbsp;Gooch&nbsp;| Ray&nbsp;Bubbles&nbsp;| Malandra&nbsp;Jacks"
    -   label: "Dedicated to the One I Love"
        date: "Thu 13 Mar, 7.30pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025/colbert'>Kellie Colbert</a> (sold-out)"
    -   label: "Turn 2025"
        date: "Fri 4 Apr, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025-turn'>A night of new North West dance.</a> (sold-out)<br>Dais&nbsp;Leach&nbsp;| Emmy&nbsp;Lahouel (Meraki&nbsp;Collective)&nbsp;| JP&nbsp;Hon&nbsp;| KUDERA&nbsp;+ MPEARSONATER&nbsp;| Maelstrom&nbsp;Theatre&nbsp;| Néa&nbsp;Synergy&nbsp;| Rachel&nbsp;Yan&nbsp;Ting&nbsp;Li&nbsp;| UMAMI&#8209;i!&#8209;MOVEMENT"
    -   label: "Works Ahead 2025"
        date: "Thu 15 – Fri 16 May, 7.30pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025-worksahead'>A sample of new performance.</a><br><a href='/current/2025-worksahead/legallez'>Adèle Le Gallez</a> | <a href='/current/2025-worksahead/pailing'>Martha Pailing</a>"
    -   label: "Social Experiment"
        date: "Thu 22 May, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/may2025'>A new gathering for Live Art and performance.</a><br>Ben&nbsp;Hodge&nbsp;| Bitterroot&nbsp;| Joely&nbsp;Mae&nbsp;Greally&nbsp;& Jasmine&nbsp;Naila&nbsp;Burt&nbsp;| Julie&nbsp;Burrow&nbsp;| Lizzy&nbsp;Owen&nbsp;| Paper&nbsp;People&nbsp;Theatre&nbsp;| Secret&nbsp;Location"
    -   label: "We're Here Because They Were"
        date: "Thu 29 May, 7.30pm. PWYD"
        venue: "| Company Chameleon"
        artists:
            - name: "<a href='/current/2025/santana'>Fabíola Santana</a>"
    -   label: "Social Experiment: Student Edition"
        date: "Thu 5 Jun, 6pm-8.15pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/studentedition'>A new gathering for Live Art and performance.</a><br>Amelia&nbsp;Grace&nbsp;| Dana&nbsp;Potter&nbsp;| GIN&nbsp;Niemtus&nbsp;| Isla&nbsp;Webster&nbsp;& Gabrielle&nbsp;Kaufman&nbsp;| Oscar&nbsp;Dickson&nbsp;| Will&nbsp;Oliver"
    -   label: "Social Experiment"
        date: "Thu 17 Jul, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/jul2025'>A new gathering for Live Art and performance.</a><br>Ben&nbsp;Hodge&nbsp;| James&nbsp;Moss&nbsp;| Leah&nbsp;Stone&nbsp;| Rachel&nbsp;Smith&nbsp;| Shahireh&nbsp;Sharif&nbsp;| Xhi&nbsp;Ndubisi"
    -   label: "Haphazard 2025"
        date: "Sat 2 Aug, 1pm-4pm. FREE"
        venue: "| Z-arts"
        artists:
            - name: "<a href='/current/2025-haphazard'>An afternoon for the curious of all ages.</a><br>Aimee&nbsp;Williamson&nbsp;| Madame&nbsp;Zucchini&nbsp;| Orla&nbsp;Collier&nbsp;| Pascaline&nbsp;Ruhana&nbsp;| Puppetfingers&nbsp;| Shannon&nbsp;Mulvey&nbsp;| the&nbsp;institute&nbsp;for&nbsp;crazy&nbsp;dancing&nbsp;| TurnAround&nbsp;Dance&nbsp;Theatre"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
