---
layout: base

season: "2025"
bodyclass: p2025
sectionroot: 'current/2025'

events:
    -   label: "Turn 2025"
        date: "Fri 4 Apr, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025-turn'>A night of new North West dance.</a><br>Dais&nbsp;Leach&nbsp;| Emmy&nbsp;Lahouel (Meraki&nbsp;Collective)&nbsp;| JP&nbsp;Hon&nbsp;| KUDERA&nbsp;+&nbsp;MPEARSONATER&nbsp;| Maelstrom&nbsp;Theatre&nbsp;| NéaSynergy&nbsp;| Rachel&nbsp;Yan&nbsp;Ting&nbsp;Li&nbsp;| UMAMI&#8209;i!&#8209;MOVEMENT<br><i>Participating&nbsp;artists subject&nbsp;to&nbsp;change.</i>"
    -   label: "Social Experiment"
        date: "Thu 22 May, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A new gathering for Live Art and contemporary performance.</a>"
    -   date: "(PWYD are Pay What You Decide events.)"    
    -   label: "<hr>"
    -   label: "<b>Earlier Events…</b>"
    -   label: "Social Experiment"
        date: "Thu 6 Feb, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A new gathering for Live Art and contemporary performance.</a><br>Harley&nbsp;Keasey&nbsp;| J.&nbsp;Edgar&nbsp;Staubsauger&nbsp;| Rachael&nbsp;Gooch&nbsp;| Ray&nbsp;Bubbles&nbsp;| plus&nbsp;special&nbsp;guests Malandra&nbsp;Jacks"
    -   label: "Dedicated to the One I Love"
        date: "Thu 13 Mar, 7.30pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2025/colbert'>Kellie Colbert</a>"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
