---
layout: base

season: "2026"
bodyclass: t2026
sectionroot: 'current/2026'

events:
    -   label: "Trouble, Struggle, Bubble & Squeak"
        date: "Wed 11 Feb, 8pm. PWYD"
        venue: "| Lowry"
        artists:
            - name: "<a href='/current/2026/melody'>Victoria Melody (dir. Mark Thomas)</a>"
    -   label: "Social Experiment"
        date: "Thu 19 Feb, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A gathering for Live Art and performance.</a>"
    -   label: "Turn 2026"
        date: "Fri 20 Mar, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2026-turn'>A night of new North West dance.</a>"
    -   label: "Social Experiment: Queer Contact Edition"
        date: "Thu 9 Apr, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A gathering for Live Art and performance.</a>"
    -   date: "(PWYD are Pay What You Decide events)"    
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
