---
layout: base

season: "Programme 2026"
bodyclass: w2022
sectionroot: 'current/2026'

events:
    -   label: "Mr Blackpool"
        date: "Sat 2 May, 8pm. £15/£12"
        venue: "| Lowry"
        artists:
            - name: "<a href='/current/2026/clayton-wright'>Harry Clayton-Wright</a>"
    -   label: "Works Ahead 2026<br>evil eyes"
        date: "Thu 28 May, 7.30pm. PWYC | Contact<br>Fri 29 May, 6.30pm. PWYC | Contact"
        venue:
        artists:
            - name: "evil&nbsp;eyes<br><a href='/current/2026-worksahead'>n:u (melissandre&nbsp;varin)</a>"
    -   label: "Social Experiment"
        date: "Thu 11 Jun, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment'>A gathering for Live Art and performance</a> with&nbsp;special&nbsp;guest <a href='/current/2026-worksahead'>Nathan Birkinshaw</a>."
    -   date: "(PWYC are Pay What You Can events)"
    -   label: "E<span style='text-transform:lowercase'>arlier</span> E<span style='text-transform:lowercase'>vents</span>…"
    -   label: "Trouble, Struggle, Bubble & Squeak"
        date: "Wed 11 Feb, 8pm. PWYD"
        venue: "| Lowry"
        artists:
            - name: "<a href='/current/2026/melody'>Victoria Melody (dir. Mark Thomas)</a>"
    -   label: "Social Experiment: Queer Contact Edition"
        date: "Thu 19 Feb, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/feb2026'>A gathering for Live Art and performance.</a><br>Ariel&nbsp;Hebditch&nbsp;| Ben&nbsp;Hodge&nbsp;| Failed&nbsp;Artist&nbsp;Society&nbsp;| lucy&nbsp;| Maddie&nbsp;Maycock&nbsp;| PHOBIA&nbsp;| special&nbsp;guest&nbsp;Graham&nbsp;Clayton-Chance"
    -   label: "Turn 2026"
        date: "Fri 20 Mar, 7pm. PWYD"
        venue: "| Contact"
        artists:
            - name: "<a href='/current/2026-turn'>A night of new North West dance.</a><br>Alice&nbsp;Robinson&nbsp;Moves&nbsp;| Blood&nbsp;Bones&nbsp;Jones&nbsp;| Clara&nbsp;Selberg&nbsp;| Emmy&nbsp;Jax&nbsp;&&nbsp;Sophia&nbsp;Egan&nbsp;| Hui-Hsin&nbsp;Lu&nbsp;| Joseph&nbsp;Adamson&nbsp;| Joseph&nbsp;Lau&nbsp;&&nbsp;friends&nbsp;| printerror&nbsp;| Sap&nbsp;Dance"
    -   label: "Social Experiment"
        date: "Thu 9 Apr, 6pm-9pm. FREE"
        venue: "| Contact"
        artists:
            - name: "<a href='/socialexperiment/apr2026'>A gathering for Live Art and performance.</a><br>Daniel&nbsp;Nicholas&nbsp;| Gin&nbsp;Niemtus&nbsp;| Kathy&nbsp;Rivett&nbsp;| Lisa&nbsp;Ford&nbsp;| Orla&nbsp;Collier&nbsp;| special&nbsp;guest&nbsp;Natalie&nbsp;Spanner"
---
		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
