---
mailer_signup_url: http://tinyletter.com/wordofwarning
---

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Word of Warning</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{{page.assetpath}}/css/base.css">
	<link rel="stylesheet" href="{{page.assetpath}}/css/skeleton.css">
	<link rel="stylesheet" href="{{page.assetpath}}/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://use.typekit.com/yjo8lcl.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	{{content}}
	<footer>
		<div class="container">
			<div class="one-third column">
				<h5 id="mailer">Weekly Update</h5>
				<p><a href="{{page.mailer_signup_url}}">Sign up</a> for your no-nonsense <a href="http://wordofwarning.posterous.com/">weekly e-mail</a> signpost to the bizarre, the beautiful and the best contemporary performance within range of Manchester.</p>
				<h5>Calendar</h5>
				<p>Word of Warning also maintains a <a href="https://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London">Google calendar</a> of events in the region.</p>
			</div>
			<div class="one-third column">
				<h5>About us</h5>
				<p>
					Word of Warning is a <a href="http://www.habarts.org/">hÅb</a> production. <a href="{{page.seasonpath}}index.html">Read more</a>
				</p>
				<p>
					Tamsin Drury,  hÅb<br>
					c/o Zion Arts Centre, 335 Stretford Road, Manchester, M15 5ZA<br>
					<a href="">info@habarts.org</a>
					0161 232 6086
				</p>
			</div>
			<div class="one-third column">
				<img src="{{page.assetpath}}/images/acelogo.png" alt="Supported by Arts Council England / Lottery Funded by Arts Council England">
				<p>A greenroom legacy project.</p>
				<p>With thanks to Zion Arts Centre (Z-Arts), Manchester Digital Development Agency and Helen Palmer.</p>
			</div>
		</div>
	</footer>
	<a href="{{page.mailer_signup_url}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{page.assetpath}}/images/mailer.png" alt="Sign up for mailer"></a>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29103047-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>