---
layout: base
---
	<header>
		<div class="container">
			<div class="sixteen columns">
				<a href="/"><strong>Word of Warning</strong><br>PERFORMANCE COLLECTION SPRING / SUMMER 2012</a>
			</div>
		</div>
	</header>
	<article>
		<div class="container">
			{{ content }}
		</div>
	</article>
	{% if page.showprogramme %}
	<section id="programme">
		<div class="container">
			<div class="sixteen columns">
				<h6>PERFORMANCE COLLECTION SPRING / SUMMER 2012</h6>
				<hr />
			</div>
			<div class="one-third column">
				{% include programme_one %}
			</div>
			<div class="one-third column">
				{% include programme_two %}
			</div>
			<div class="one-third column">
				{% include programme_three %}
			</div>
		</div>
	</section>
	{% endif %}
	<footer>
		<div class="container">
			<div class="one-third column">
				<h5>Weekly Update</h5>
				<p><a href="http://tinyletter.com/wordofwarning">Sign up</a> for your no-nonsense <a href="http://wordofwarning.posterous.com/">weekly e-mail</a> signpost to the bizarre, the beautiful and the best contemporary performance within range of Manchester.</p>
				<h5>Calendar</h5>
				<p>Word of Warning also maintains a <a href="https://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London">Google calendar</a> of events in the region.</p>
			</div>
			<div class="one-third column">
				<h5>Brought to you by</h5>
				<p>
					<strong>Word of Warning</strong> is a <a href="http://www.habarts.org/">hÅb</a> production.
				</p>
				<p>
					<a href="">info@habarts.org</a><br>
					0161 232 6086
				</p>
				<p>
					c/o Zion Arts Centre, 335 Stretford Road, Manchester, M15 5ZA
				</p>
			</div>
			<div class="one-third column">
				<img src="{{page.assetpath}}/images/acelogo.png" alt="Supported by Arts Council England / Lottery Funded by Arts Council England">
				<p>A greenroom legacy project. With thanks to Zion Arts Centre (Z-Arts), Manchester Digital Development Agency and Helen Palmer.</p>
			</div>
		</div>
	</footer>