---
layout: base
---
	{% include header %}
	<article>
		<div class="container">
			{{ content }}
		</div>
	</article>
	{% if page.showprogramme %}
	<section id="programme">
		<div class="container">
			<div class="sixteen columns">
				<h6><a href="{{page.seasonpath}}index.html">PERFORMANCE COLLECTION SPRING / SUMMER 2012</a></h6>
				<hr />
			</div>
			<div class="one-third column">
				{% include programme_one %}
			</div>
			<div class="one-third column">
				{% include programme_two %}
			</div>
			<div class="one-third column">
				{% include programme_three %}
			</div>
		</div>
	</section>
	{% endif %}