<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Word of Warning</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{{page.assetpath}}/css/base.css">
	<link rel="stylesheet" href="{{page.assetpath}}/css/skeleton.css">
	<link rel="stylesheet" href="{{page.assetpath}}/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://use.typekit.com/yjo8lcl.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
	<header>
		<div class="container">
			<div class="sixteen columns">
				<a href="/"><strong>Word of Warning</strong><br>PERFORMANCE COLLECTION SPRING / SUMMER 2012</a>
			</div>
		</div>
	</header>
	<article>
		<div class="container">
			
		</div>
	</article>
	{% if page.showprogramme %}
	<section id="programme">
		<div class="container">
			<div class="sixteen columns">
				<h6>PERFORMANCE COLLECTION SPRING / SUMMER 2012</h6>
				<hr />
			</div>
			<div class="one-third column">
				{% include programme_one %}
			</div>
			<div class="one-third column">
				{% include programme_two %}
			</div>
			<div class="one-third column">
				{% include programme_three %}
			</div>
		</div>
	</section>
	{% endif %}
	<footer>
		<div class="container">
		footer
		</div>
	</footer>
</body>
</html>