---
layout: base

season: "hÅb"
bodyclass: hab
sectionroot: 'hab'

events:
    -   artists:
            - name: "<a href='/current/2019-springsummer'>Current Performance Programme (WoW)</a>"
            - {folder: supportus, name: "How to Support Us"}            
            - {folder: partners, name: "Our Partners"}
    -   date: "Information for artists:"
        artists:
            - {folder: emergencynw, name: "Artist mailing list (join EmergencyNW e-group)"}
            - {folder: news, name: "News + Opportunities"}            
    -   date: "Development projects + platforms for artists:"
        artists:
            - {folder: divergencymcr, name: "Divergency"}
            - {folder: domestic, name: "Domestic"}
            - {folder: emergency, name: "Emergency"}
            - {folder: footinthedoor, name: "Foot In The Door"}
            - {folder: haphazard, name: "Haphazard"}
            - {folder: hazard, name: "Hazard"}
            - {folder: poolside, name: "'Poolside Emergency"}
            - {folder: turn, name: "Turn"}
            - {folder: worksahead, name: "Works Ahead"}
    -   date: "hÅb's archives:"
        artists:
            - name: "<a href='/archive'>Recent work (2012 onwards)</a><br><a href='/galleries/hab-archive'>Image slideshow (2006-2011)</a><br><a href='http://www.lanwest.org'>LANWest video site</a><br><a href='http://www.greenroomutd.org'>greenroomutd archive + oral histories</a><br><a href='http://www.digitalsummer.org'>Digital Summer (1998-2002)</a><br><a href='http://vimeo.com/habmcr'>Vimeo Channel</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav.html %}
			</div>
		</div>
