---

layout: base

season: "hÅb"
bodyclass: hab

events:
    -   rawhtmlinstead: "<a href='http://habmcr.posterous.com'>News + Opportunities</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-springsummer/index.html'>Word of Warning Performance Collection</a>"
    -   date: "Information for artists"
        artists:
            - {folder: emergencynw, name: "Join Emergency e-group"}
            - {folder: platformplanner, name: "Platform Planner"}
            - {folder: emergency, name: "Emergency"}
            - {folder: turn, name: "Turn"}
            - {folder: poolside, name: "'Poolside Emergency"}
            - {folder: hazard, name: "Hazard"}
            - {folder: worksahead, name: "Works Ahead"}
    -   date: "hÅb Archives"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/galleries/hab-archive'>Image slideshow 2006-2011</a>"
    -   rawhtmlinstead: "<a href='http://www.lanwest.org'>LANWest video site</a>"
    -   rawhtmlinstead: "<a href='http://www.greenroomutd.org'>greenroomutd archive + oral histories</a>"
    -   rawhtmlinstead: "<a href='http://www.digitalsummer.org'>Digital Summer 1998-2002</a>"
    -   rawhtmlinstead: "<a href='http://vimeo.com/habmcr'>Vimeo Channel</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
