---

layout: base

season: "hÅb"
bodyclass: hab

events:
    -   rawhtmlinstead: "<a href='http://habmcr.posterous.com'>News + Opportunities</a>"
    -   rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-springsummer/index.html'>Word of Warning Performance Collection</a>"
    -   artists:
            - {folder: emergency, name: "Emergency info for artists"}
            - {folder: turn, name: "Turn info for artists"}
    -   rawhtmlinstead: "<a href='http://www.lanwest.org'>LANWest video archive</a>"
    -   rawhtmlinstead: "<a href='http://www.greenroomutd.org'>greenroom archive + oral histories</a>"
    -   label: "'Poolside Emergency 2013"
        date: "Sat 13 Apri 12-5pm"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-poolside/index.html'>Mayhem on Merseyside</a>"
    -   label: "Turn 2013"
        date: "Fri 19 + Sat 20 Apr 7.30pm"
        rawhtmlinstead: "<a href='http://www.wordofwarning.org/current/2013-turn/index.html'>Micro-festival of dance</a>"

---

		<div class="row">
			<div class="eight columns bodycopy">
				{{content}}
			</div>
			<div class="four columns">
				{% include default-rhs-nav %}
			</div>
		</div>
