---
layout: default
assetpath: "../../assets"
showprogramme: true
---

<section>
	<h3><em>{{page.dateline}}</em>{% if page.venue %} at <em>{{page.venue}}</em>{% endif %}</h3>
	<h1 id="maintitle" style="color:{{page.titlecolour}};">{{page.title}}</h1>
	<h2>{{page.by}}</h2>
</section>
<hr>
<section class="clearfix">
	<div class="lhs">
		{{ content }}
	</div>
	<div class="rhs">
		<div id="tickets">
			<h4>Tickets</h4>
			<h3 style="text-align:center">{{page.ticketprice}}</h3>
			{% if page.url-to-buy%}
				<a id="buy" href="{{page.url-to-buy}}">Buy tickets</a>
			{% endif %}
		</div>

		<div id="venue">
		{% if page.venue == "Zion" %}
			{% include venue_zion %}
		{% endif %}
		{% if page.venue == "Contact" %}
			{% include venue_contact %}
		{% endif %}
		</div>
		
		{% if page.partners %}
		<div>
			<h4>Partners</h4>
			{{page.partners}}
		</div>
		{% endif %}
	</div>
</section>