---
layout: default
assetpath: "../../assets"
---

<section>
	<h3><em>{{page.dateline}}</em> at <em>{{page.venue}}</em></h3>
	<h1 id="maintitle" style="color:{{page.titlecolour}};">{{page.title}}</h1>
	<h2>{{page.by}}</h2>
</section>
<hr>
<section class="clearfix">
	<div class="left">
		{{ content }}
	</div>
	<div class="right">
		<div id="tickets">
			<h4>Tickets</h4>
			<h3 style="text-align:center">{{page.ticketprice}}</h3>
			{% if page.url-to-buy%}
				<a id="buy" href="{{page.url-to-buy}}">Buy tickets</a>
			{% endif %}
		</div>

		<div id="venue">
		{% if page.venue == "Zion" %}
			{% include venue_zion %}
		{% endif %}
		{% if page.venue == "Contact" %}
			{% include venue_contact %}
		{% endif %}
		</div>
		
		{% if page.partners %}
		<div>
			{{page.partners}}
		</div>
		{% endif %}
	</div>
</section>